<%= simple_form_for annonce do |f| %>
  <div class="row">
    <div class="col s12 m6">
      <div class="form-infos-header">
        <h2>Informations générales</h2>
      </div>
      <div class="form-infos-content">
        <div class="row">
          <div class="col s6">
            <%= f.input :reference, placeholder: 'ex : 0100' %>
          </div>
          <div class="col s6">
            <%= f.input :nom, placeholder: 'ex : vente-appartement-100m2-3pieces-rennes-35' %>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <div class="input-field">
              <select name="annonce[genre_transaction]">
                <option value="" disabled selected>Transaction</option>
                <option value="vente">Vente</option>
                <option value="location">Location</option>
              </select>
              <label>Type de transaction</label>
            </div>
          </div>
          <div class="input-field col s6">
            <select name="annonce[genre]">
              <option value="" disabled selected>Bien</option>
              <option value="maison">Maison</option>
              <option value="appartement">Appartement</option>
              <option value="terrain">Terrain</option>
              <option value="terrain">Bureau</option>
              <option value="terrain">Local professionnel</option>
              <option value="terrain">Garage</option>
            </select>
            <label>Type de bien</label>
          </div>
        </div>
        <div class="row">
          <div class="col s6"><%= f.input :prix_net_vendeur, placeholder: 'ex : 235000' %></div>
          <div class="col s6"><%= f.input :prix_vente_total, placeholder: 'ex : 250000' %></div>
        </div>
        <div class="row">
          <div class="col s6"><%= f.input :honoraires, placeholder: 'ex : 15000' %></div>
          <div class="col s6"><%= f.input :honoraires_en_pourcentage, placeholder: 'ex : forfait de 1000€' %></div>
        </div>
        <div class="row">
          <div class="col s6"><%= f.input :code_postal, placeholder: 'ex : 35000' %></div>
          <div class="col s6"><%= f.input :ville, placeholder: 'ex : Rennes' %></div>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="form-infos-header">
        <h2>Description du bien</h2>
      </div>
      <div class="form-infos-content">
        <div class="row">
          <div class="col s6"><%= f.input :nb_pieces, placeholder: 'ex : 7' %></div>
          <div class="col s6"><%= f.input :nb_chambres, placeholder: 'ex : 3' %></div>
        </div>
        <div class="row">
          <div class="col s6"><%= f.input :surface_habitable, placeholder: 'ex : 250' %></div>
          <div class="col s6"><%= f.input :surface_terrain, placeholder: 'ex : 500' %></div>
        </div>
        <div class="row">
          <div class="col s6"><%= f.input :dpe, collection: Annonce::DPE %></div>
          <div class="col s6"><%= f.input :ges, collection: Annonce::GES %></div>
        </div>
        <div class="row">
          <div class="col s12">
            <%= f.input :description, :as => :text, placeholder: "Exclusif - Immeuble de standing de 2007 'Le Carré Volney' - Appartement T5 de 109m² comprenant un séjour de 35m² sur balcon Sud-Ouest sans vis-à-vis, cuisine équipée et aménagée, trois chambres dont deux avec placards - 2 salles d'eau, dressing - Garage et parking - chauffage individuel au gaz - Classe énergie : B" %>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <%= f.attachinary_file_field(:photos, :cloudinary => { :transformation => {:width=>2000, :height=>1500, :crop=>:limit }}) %>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="form-infos-header">
          <h2>Pour les biens en copropriété</h2>
        </div>
        <div class="form-infos-content">
          <div class="row">
            <div class="col s6"><%= f.input :nb_lots, placeholder: 'ex : 60' %></div>
            <div class="col s6"><%= f.input :charges_annuelles, placeholder: 'ex : 350' %></div>
          </div>
        </div>
      </div>
    </div>
  <%= f.submit "Valider l'annonce", class: "btn btn-primary" %>
  </div>
<% end %>
