<div id="footer">
  <div class="footer-container">
    <div class="footer-presentation">
      <h5>Nous connaître</h5>
      <p>L'office notarial Perraut Pirioux Mevel est animé par le souci d'offrir à ses clients un service juridique de qualité</p>
    </div>
    <div class="footer-expertises">
      <h5>Nos expertises</h5>
      <%= link_to 'Droit de la famille', famille_path %>
      <%= link_to 'Droit des affaires', affaires_path %>
      <%= link_to 'Droit immobilier', immobilier_path %>
      <%= link_to 'Promotion immobilière', promotion_path %>
    </div>
    <div class="footer-office">
      <h5>Notre office</h5>
      <p>7 rue de la Visitation<br>CS 60808<br>35108 RENNES CEDEX 3</p>
      <p>Lundi à Vendredi, de 9h à 12h et de 14h à 18h</p>
      <p>Fermé le weekend sauf sur rendez-vous</p>
    </div>
    <div class="footer-contact">
      <h5>Nous contacter</h5>
      <%= link_to 'Contactez-nous', contact_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
