<div class="navbar">
  <div class="row no-bottom-margin">
    <div class="navbar-brand unmargined">
      <%= link_to "ACCUEIL", root_path %>
    </div>
    <ul class="navbar-menu unmargined">
      <li class="navbar-menu-item"><%= link_to "L'OFFICE", office_path, class: 'navbar-link' %></li>
      <!-- lien vers dropdown - EXPERTISES -->
      <div id="dropdown-full">
        <li class="navbar-menu-item dropdown">
          <a href ="/expertises" class="navbar-menu-sub-item dropdown-link navbar-link" data-target="dropdown-navbar" data-active="false">EXPERTISES</a>
        </li>
        <!-- dropdown - EXPERTISES -->
        <ul class="dropdown-menu not-visible" id="dropdown-navbar" data-active="false">
          <li><%= link_to "Droit de la famille", famille_path %></li>
          <li><%= link_to "Immobilier", immobilier_path %></li>
          <li><%= link_to "Droit des affaires", affaires_path %></li>
          <li><%= link_to "Promotion immobilière", promotion_path %></li>
        </ul>

      </div>
      <li class="navbar-menu-item"><%= link_to "IMMOBILIER", negociation_path, class: 'navbar-link' %></li>
      <li class="navbar-menu-item"><%= link_to "GUIDES PRATIQUES", guides_path, class: 'navbar-link' %></li>
      <li class="navbar-menu-item"><%= link_to "CONTACT", contact_path, class: 'navbar-link' %></li>
      <li class="navbar-menu-item">
        <p class="navbar-menu-item", id="navbar-search-icon"><i class="fa fa-search" aria-hidden="true"></i></p>
      </li>
    </ul>
  </div>
</div>

<%= render 'shared/search' %>
