<div class="navbar">
  <div class="row no-bottom-margin">
    <div class="navbar-brand unmargined">
      <%= link_to "ACCUEIL", root_path %>
    </div>
    <ul class="navbar-menu unmargined hide-on-med-and-down">
      <li class="navbar-menu-item"><%= link_to "L'OFFICE", office_path, class: 'navbar-link', "data-link": "office" %></li>
      <!-- lien vers dropdown - EXPERTISES -->
      <div id="dropdown-full">
        <li class="navbar-menu-item dropdown">
          <span class="navbar-menu-sub-item dropdown-link navbar-link navbar-dropdown-link" data-target="dropdown-navbar" data-link="expertises">EXPERTISES</span>
        </li>
        <!-- dropdown - EXPERTISES -->
        <ul class="dropdown-menu not-visible" id="dropdown-navbar">
          <li><%= link_to "Droit de la famille", famille_path %></li>
          <li><%= link_to "Droit immobilier", immobilier_path %></li>
          <li><%= link_to "Droit des affaires", affaires_path %></li>
          <li><%= link_to "Promotion immobilière", root_path %></li>
        </ul>

      </div>
      <li class="navbar-menu-item"><%= link_to "BIENS A VENDRE", negociation_path, class: 'navbar-link', "data-link": "immobilier" %></li>
      <li class="navbar-menu-item"><%= link_to "FOIRE AUX QUESTIONS", faq_path, class: 'navbar-link', "data-link": "faq" %></li>
      <li class="navbar-menu-item"><%= link_to "CONTACT", contact_path, class: 'navbar-link', "data-link": "contact" %></li>
      <li class="navbar-menu-item">
        <p class="navbar-menu-item", id="navbar-search-icon"><i class="fa fa-search" aria-hidden="true"></i></p>
      </li>
    </ul>
    <a href="#" class="navbar-mobile-link unmargined valign-wrapper">
      <i class="material-icons">menu</i>
    </a>
  </div>
</div>
<ul id="mobile-navbar" class="hidden">
  <li><%= link_to "L'office", office_path %><i class="fa fa-angle-right right" aria-hidden="true"></i></li>
  <li id="dropdown-navbar-mobile"><a href="">Expertises</a><i class="fa fa-angle-right right" aria-hidden="true" id="expertises-angle-right"></i><i class="fa fa-angle-down right hidden" aria-hidden="true"></i></li>
    <ul class="hidden" id="dropdown-menu-mobile">
      <li><%= link_to "Droit de la famille", famille_path %><i class="fa fa-angle-right right" aria-hidden="true"></i></li>
      <li><%= link_to "Droit immobilier", immobilier_path %><i class="fa fa-angle-right right" aria-hidden="true"></i></li>
      <li><%= link_to "Droit des affaires", affaires_path %><i class="fa fa-angle-right right" aria-hidden="true"></i></li>
      <li><%= link_to "Promotion immobilière", promotion_path %><i class="fa fa-angle-right right" aria-hidden="true"></i></li>
    </ul>
  <li><%= link_to "Biens à vendre", negociation_path %><i class="fa fa-angle-right right" aria-hidden="true"></i></li>
  <li><%= link_to "Foire aux questions", faq_path %><i class="fa fa-angle-right right" aria-hidden="true"></i></li>
  <li><%= link_to "Contact", contact_path %><i class="fa fa-angle-right right" aria-hidden="true"></i></li>
</ul>

<%= render 'shared/search' %>
