<div class="navbar">
  <div class="row no-bottom-margin">
    <div class="navbar-brand unmargined">
      <%= link_to "ACCUEIL", root_path %>
    </div>
    <ul class="navbar-menu unmargined">
      <li class="navbar-menu-item"><%= link_to "L'OFFICE", office_path, class: 'navbar-link', "data-link": "office" %></li>
      <!-- lien vers dropdown - EXPERTISES -->
      <div id="dropdown-full">
        <li class="navbar-menu-item dropdown">
          <span class="navbar-menu-sub-item dropdown-link navbar-link navbar-dropdown-link" data-target="dropdown-navbar" data-link="expertises">EXPERTISES</span>
        </li>
        <!-- dropdown - EXPERTISES -->
        <ul class="dropdown-menu not-visible" id="dropdown-navbar">
          <li><%= link_to "Droit de la famille", famille_path %></li>
          <li><%= link_to "Immobilier", immobilier_path %></li>
          <li><%= link_to "Droit des affaires", affaires_path %></li>
          <li><%= link_to "Promotion immobilière", promotion_path %></li>
        </ul>

      </div>
      <li class="navbar-menu-item"><%= link_to "IMMOBILIER", negociation_path, class: 'navbar-link', "data-link": "immobilier" %></li>
      <li class="navbar-menu-item"><%= link_to "FOIRE AUX QUESTIONS", faq_path, class: 'navbar-link', "data-link": "faq" %></li>
      <li class="navbar-menu-item"><%= link_to "CONTACT", contact_path, class: 'navbar-link', "data-link": "contact" %></li>
      <li class="navbar-menu-item">
        <p class="navbar-menu-item", id="navbar-search-icon"><i class="fa fa-search" aria-hidden="true"></i></p>
      </li>
    </div>
  </div>
</div>

<%= render 'shared/search' %>
