<div class="navbar">
  <div class="row no-bottom-margin">
    <div class="navbar-brand unmargined">
      <%= link_to "Accueil", root_path %>
    </div>
    <ul class="navbar-menu unmargined">
      <li class="navbar-menu-item"><%= link_to "L' office", office_path %></li>
      <!-- lien vers dropdown - EXPERTISES -->
      <div id="dropdown-full">
        <li class="navbar-menu-item dropdown">
          <a href ="/expertises" class="navbar-menu-sub-item dropdown-link" data-target="dropdown-navbar" data-active="false">Expertises <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
        </li>
        <!-- dropdown - EXPERTISES -->
        <ul class="dropdown-menu hidden" id="dropdown-navbar" data-active="false">
          <li><%= link_to "Droit de la famille", famille_path %></li>
          <li><%= link_to "Immobilier", immobilier_path %></li>
          <li><%= link_to "Droit des affaires", affaires_path %></li>
          <li><%= link_to "Promotion immobilière", promotion_path %></li>
        </ul>

      </div>
      <li class="navbar-menu-item"><%= link_to "Immobilier", negociation_path %></li>
      <li class="navbar-menu-item"><%= link_to "Guides pratiques", guides_path %></li>
      <li class="navbar-menu-item"><%= link_to "Contact", contact_path %></li>
      <li class="navbar-menu-item">
        <p class="navbar-menu-item", id="navbar-search-icon"><i class="fa fa-search" aria-hidden="true"></i></p>
      </li>
    </ul>
  </div>
</div>

<%= render 'shared/search' %>
