<!-- Les meta tags -->
<% content_for :meta_title, "Achat immobilier - Notaires Rennes | Perraut Pirioux Mével" %>
<% content_for :meta_description, "Première acquisition, acquisition seul, acquisition à deux, investissement locatif, résidence secondaire, SCI, fiscalité, financement ? Nous vous accompagnons dans votre projet afin de sécuriser la transaction et de trouver la solution adaptée à votre situation personnelle !" %>
<!-- Les meta tags -->

<!-- Bannière -->
<div class="page-banner" id="acheter-banner">
  <div class="page-banner-header right header-red">
    <span class="page-banner-subtitle">Expertise</span>
    <h1>Achat immobilier</h1>
  </div>
</div>
<!-- Bannière -->

<!-- Navigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Expertises</span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item"><%= link_to 'Droit immobilier', immobilier_path %></span>
       <i class="fa fa-chevron-right" aria-hidden="true"></i>
       <span class="sub-nav-item">Acheter</span>
    </div>
  </div>
</div>
<!-- Navigation -->

<%= render 'shared/show-expertise-intro', expertise: @expertise %>

<%= render 'shared/questions-collapsible', expertise: @expertise %>

<div class="page-section">
  <div class="page-expertise-section" id="fiches">
    <h2 class="section-white-header">FICHES PRATIQUES</h2>
    <div class="fiches-pratiques-container">
      <div class="row">
        <%= render 'shared/download-document-card', document: "fiche-achat-bien-loue.pdf", document_type: "Fiche conseil", document_title: "Achat d'un bien loué", document_intro: nil %>
        <%= render 'shared/download-document-card', document: "fiche-delai-retractation.pdf", document_type: "Fiche conseil", document_title: "Achat : le délai de rétractation", document_intro: nil %>
        <%= render 'shared/download-document-card', document: "fiche-hypotheque-ou-garantie.pdf", document_type: "Fiche conseil", document_title: "Hypothèque ou caution bancaire ?", document_intro: nil %>
        <%= render 'shared/download-document-card', document: "guide-achat-immobilier.pdf", document_type: "Guide pratique", document_title: "Achat immobilier - Mode d'emploi", document_intro: nil %>
      </div>
    </div>
  </div>
</div>
<div class="page-section">
  <div class="page-expertise-section" id="outils">
    <h2 class="section-white-header">COMBIEN CA COUTE ?</h2>
    <h4><a href="https://www.immobilier.notaires.fr/fr/frais-de-notaire" target="_blank"><i class="fa fa-calculator" aria-hidden="true"></i> Calculez vos frais</a></h4>
  </div>
</div>

<div class="grey-bg">
  <div class="page-section">
    <div class="page-expertise-section" id="contact">
      <h2 class="section-white-header">Contact</h2>
      <p>Vous n'avez pas trouvé la réponse à votre question ? Nous serons ravis de vous y répondre de façon plus personnalisée. Contactez-nous par téléphone ou par mail.</p>
      <%= link_to 'Contactez-nous', contact_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<!-- Bouton Contact -->
<%= render 'shared/contact-link' %>
<!-- Bouton Contact -->

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="expertises"]').addClass('active');
      var contactLinkPosition = $('#contact-link').offset().top;
      $(window).scroll(function(){
        $("#contact-link").css("top", Math.max(80, contactLinkPosition - $(this).scrollTop()));
      });
    });
  </script>
<% end %>
