<!-- Les meta tags -->
<% content_for :meta_title, "Adoption - Notaires à Rennes | Perraut Pirioux Mével" %>
<% content_for :meta_description, "L'office notarial vous accompagne lors de vos démarches d'adoption." %>
<% content_for :meta_image, "https://unsplash.com/?photo=P3pI6xzovu0" %>
<!-- Les meta tags -->

<!-- Bannière -->
<div class="page-banner" id="adoption-banner">
  <div class="page-banner-header right header-red">
    <span class="page-banner-subtitle">Expertise</span>
    <h1>L'Adoption</h1>
  </div>
</div>
<!-- Bannière -->

<!-- Navigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Expertises</span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item"><%= link_to 'Droit de la famille', famille_path %></span>
       <i class="fa fa-chevron-right" aria-hidden="true"></i>
       <span class="sub-nav-item">Adoption</span>
    </div>
  </div>
</div>
<!-- Navigation -->

<div class="page-section">
  <div class="page-expertise-section" id="introduction">
    <h2>Qu'est-ce que l'adoption ?</h2>
    <p>Il est peut-être délicat d’aborder ce sujet alors qu’on est en pleins préparatifs
    du « plus beau jour de sa vie ». Cependant c’est le meilleur moment pour le faire.
    Vous pouvez toujours choisir de le faire ou de le modifier plus tard, mais cela sera plus onéreux et si jamais il arrivait quelque chose entre-temps, vous pourriez le regretter.</p>
    <p>Pour mémoire, le contrat de mariage n’est pas uniquement envisagé pour un divorce hypothétique mais également en cas de décès.
    Certes les sujets ne sont pas très euphoriques, mais justement ils sont suffisamment douloureux pour s’éviter des difficultés supplémentaires lors de leur survenue.</p>
  </div>
</div>
<div class="page-section">
  <div class="page-expertise-section" id="questions">
    <h2>Questions</h2>
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header">Qu'est-ce qu'un contrat de mariage ?</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header">Pourquoi prévoir un contrat de mariage ?</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header">Suis-je obligé de signer un contrat de mariage ?</div>
        <div class="collapsible-body">
          <span>
            <p>On pourrait dire dans tous les cas bien sûr. Toutefois, s’il ne fallait décrire que les plus « à risque », on pourrait citer :</p>
            <ul>
              <li>- la femme au foyer</li>
              <li>- le chef d’entreprise, la profession libérale ou l’auto-entrepreneur</li>
              <li>- un des membres du couple très riche</li>
              <li>- le couple sans enfants</li>
              <li>- les familles recomposées</li>
            </ul>
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="page-section">
  <div class="page-expertise-section" id="fiches">
    <h2 class="section-white-header">FICHES PRATIQUES</h2>
    <div class="fiches-pratiques-container">
      <div class="row">
        <div class="col s12 m6 l3">
          <div class="carte-fiche-pratique">
            <div class="carte-fiche-header">
              <span class="carte-fiche-subtitle">Documents nécessaires</span>
              <h3>Promesse de vente</h3>
            </div>
            <div class="carte-fiche-infos">
              <p>Trust is a business theme perfectly suited legal advisers and offices, lawyers, attorneys, counsels, advocates and other legal and law related services.</p>
              <ul class="carte-fiche-liste">
                <li class="carte-fiche-doc"><i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>Fiche de paie</span></li>
                <li class="carte-fiche-doc"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Contrat de travail</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="carte-fiche-pratique">
            <div class="carte-fiche-header">
              <span class="carte-fiche-subtitle">Documents nécessaires</span>
              <h3>Promesse de vente</h3>
            </div>
            <div class="carte-fiche-infos">
              <p>Trust is a business theme perfectly suited legal advisers and offices, lawyers, attorneys, counsels, advocates and other legal and law related services.</p>
              <ul class="carte-fiche-liste">
                <li class="carte-fiche-doc"><i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>Fiche de paie</span></li>
                <li class="carte-fiche-doc"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Contrat de travail</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="carte-fiche-pratique">
            <div class="carte-fiche-header">
              <span class="carte-fiche-subtitle">Documents nécessaires</span>
              <h3>Promesse de vente</h3>
            </div>
            <div class="carte-fiche-infos">
              <p>Trust is a business theme perfectly suited legal advisers and offices, lawyers, attorneys, counsels, advocates and other legal and law related services.</p>
              <ul class="carte-fiche-liste">
                <li class="carte-fiche-doc"><i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>Fiche de paie</span></li>
                <li class="carte-fiche-doc"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Contrat de travail</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="carte-fiche-pratique">
            <div class="carte-fiche-header">
              <span class="carte-fiche-subtitle">Documents nécessaires</span>
              <h3>Promesse de vente</h3>
            </div>
            <div class="carte-fiche-infos">
              <p>Trust is a business theme perfectly suited legal advisers and offices, lawyers, attorneys, counsels, advocates and other legal and law related services.</p>
              <ul class="carte-fiche-liste">
                <li class="carte-fiche-doc"><i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>Fiche de paie</span></li>
                <li class="carte-fiche-doc"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Contrat de travail</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-section">
  <div class="page-expertise-section" id="outils">
    <h2 class="section-white-header">COMBIEN CA COUTE ?</h2>
    <h4><a href="https://www.immobilier.notaires.fr/fr/frais-de-notaire" target="_blank"><i class="fa fa-calculator" aria-hidden="true"></i> Calculez vos frais</a></h4>
  </div>
</div>

<div class="grey-bg">
  <div class="page-section">
    <div class="page-expertise-section" id="contact">
      <h2 class="section-white-header">Contact</h2>
      <p>Vous n'avez pas trouvé la réponse à votre question ? Nous serons ravis de vous y répondre de façon plus personnalisée. Contactez-nous par téléphone ou par mail.</p>
      <%= link_to 'Contactez-nous', contact_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<!-- Bouton Contact -->
<%= render 'shared/contact-link' %>
<!-- Bouton Contact -->

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="expertises"]').addClass('active');
      var contactLinkPosition = $('#contact-link').offset().top;
      $(window).scroll(function(){
        $("#contact-link").css("top", Math.max(80, contactLinkPosition - $(this).scrollTop()));
      });
    });
  </script>
<% end %>
