<!-- Les meta tags -->
<% content_for :meta_title, "Adoption - Notaires Rennes | Perraut Pirioux Mével" %>
<% content_for :meta_description, "Adoption. Quel est le rôle du notaire ? Quel nom l'adopté porte-t-il ? Quelles conséquences ? Trois notaires et une vingtaine de collaborateurs répondent à toutes vos questions sur l'adoption." %>
<!-- Les meta tags -->

<!-- Bannière -->
<div class="page-banner" id="adoption-banner">
  <div class="page-banner-header right header-red">
    <span class="page-banner-subtitle">Expertise</span>
    <h1>L'adoption</h1>
  </div>
</div>
<!-- Bannière -->

<!-- Navigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Expertises</span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item"><%= link_to 'Droit de la famille', famille_path %></span>
       <i class="fa fa-chevron-right" aria-hidden="true"></i>
       <span class="sub-nav-item">Adoption</span>
    </div>
  </div>
</div>
<!-- Navigation -->

<%= render 'shared/show-expertise-intro', expertise: @expertise %>

<%= render 'shared/questions-collapsible', expertise: @expertise %>

<!-- Lexique -->
<%= render 'shared/lexique', expertise: @expertise %>

<!-- Fiches pratiques -->

<div class="page-section">
  <div class="page-expertise-section" id="fiches">
    <h2 class="section-white-header">FICHES PRATIQUES</h2>
    <div class="fiches-pratiques-container">
      <div class="row">
        <%= render 'shared/download-document-card', document: "fiche-adoption-et-succession.pdf", document_type: "Fiche conseil", document_title: "Adoption et succession" %>
        <%= render 'shared/download-document-card', document: "fiche-adoption-pleniere-ou-simple.pdf", document_type: "Fiche conseil", document_title: "Adoption plénière - Adoption simple" %>
        <%= render 'shared/download-document-card', document: "fiche-adoption-enfant-conjoint.pdf", document_type: "Fiche conseil", document_title: "Adopter l'enfant de son conjoint" %>
      </div>
    </div>
  </div>
</div>
<div class="page-section">
  <div class="page-expertise-section" id="outils">
    <h2 class="section-white-header">COMBIEN CA COUTE ?</h2>
    <p>A titre indicatif, compte tenu du tarif en vigueur (Arrêté du 26 février 2016 fixant les tarifs réglementés des notaires - lien <a href="https://www.legifrance.gouv.fr/eli/arrete/2016/2/26/EINC1605792A/jo">ici</a>  ), voici les tarifs pour les actes suivants :</p>
    <p>Consentement à adoption : 94,32 € TTC + 125 € de droits d’enregistrement</p>
    <p class="italic">Pour tout acte complexe, nous consulter pour l’établissement d’un devis sur mesure.</p>
  </div>
</div>

<div class="grey-bg">
  <div class="page-section">
    <div class="page-expertise-section" id="contact">
      <h2 class="section-white-header">Contact</h2>
      <p>Vous n'avez pas trouvé la réponse à votre question ? Nous serons ravis de vous y répondre de façon plus personnalisée. Contactez-nous par téléphone ou par mail.</p>
      <%= link_to 'Contactez-nous', contact_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<!-- Bouton Contact -->
<%= render 'shared/contact-link' %>
<!-- Bouton Contact -->

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="expertises"]').addClass('active');
      var contactLinkPosition = $('#contact-link').offset().top;
      $(window).scroll(function(){
        $("#contact-link").css("top", Math.max(80, contactLinkPosition - $(this).scrollTop()));
      });
    });
  </script>
<% end %>
