<% content_for :meta_title, "Droit des affaires - Notaires Rennes | Perraut Pirioux Mével" %>
<% content_for :meta_description, "Notre Office Notarial a reçu une labellisation « notaire juriste d’entreprise » délivrée par le CSN, permettant de promouvoir auprès des chefs d’entreprises et de tous les acteurs économiques un savoir-faire en matière de droit des sociétés et de droit des affaires." %>

<div class="page-landing-picture" id="affaires-landing-picture">
  <div class="page-landing-picture-header left">
    <span class="page-landing-picture-subtitle">Expertise</span>
    <h1>Droit des affaires</h1>
  </div>
</div>

<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Expertises</span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Droit des affaires</span>
    </div>
  </div>
</div>

<div class="page-section">
  <div class="row">
    <div class="col s12 m8 l6">
      <div class="section-heading-content">
        <span class="section-subtitle">Expertise</span>
        <span class="line-title section-line-title"></span>
        <h2>Droit des affaires</h2>
        <div class="section-description">
          <p>L’Office Notarial des Maîtres Loïc PERRAUT, Jean-Charles PIRIOUX et Céline MÉVEL a obtenu en juin 2017 une labellisation « notaire juriste d’entreprise » délivrée par le CSN, permettant de promouvoir auprès des chefs d’entreprises et de tous les acteurs économiques un savoir-faire en matière de droit des sociétés et de droit des affaires.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grey-bg">
  <div class="page-section">
    <div class="expertise-box">
      <div class="row">
        <div class="col s12 l4">
          <div class="expertise-redirection-card white-redirection-card">
            <%#= link_to '', societe_creation_path, class: 'expertise-redirection-card-link' %>
            <span class="line-title expertise-redirection-card-line-title"></span>
            <br>
            <div class="expertise-redirection-card-header">
              <div class="expertise-redirection-card-title">Société - <br>Constitution</div>
              <span class="expertise-redirection-card-icon"><%= image_tag 'icone-societe.png' %></span>
            </div>
            <br>
            <% expertise = Expertise.find_by_nom("Créer sa société") %>
            <div class="expertise-redirection-card-description famille"><%= expertise.description.html_safe %></div>
          </div>
        </div>
        <div class="col s12 l4">
          <div class="expertise-redirection-card white-redirection-card">
            <%#= link_to '', societe_transmission_path, class: 'expertise-redirection-card-link' %>
            <span class="line-title expertise-redirection-card-line-title"></span>
            <br>
            <div class="expertise-redirection-card-header">
              <div class="expertise-redirection-card-title">Société -<br>Transmission</div>
              <span class="expertise-redirection-card-icon"><%= image_tag 'icone-acquisition.png' %></span>
            </div>
            <br>
            <% expertise = Expertise.find_by_nom("Transmettre sa société") %>
            <div class="expertise-redirection-card-description famille"><%= expertise.description.html_safe %></div>
          </div>
        </div>
        <div class="col s12 l4">
          <div class="expertise-redirection-card white-redirection-card">
            <%#= link_to '', societe_secretariat_path, class: 'expertise-redirection-card-link' %>
            <span class="line-title expertise-redirection-card-line-title"></span>
            <br>
            <div class="expertise-redirection-card-header">
              <div class="expertise-redirection-card-title">Société -<br>Secrétariat</div>
              <span class="expertise-redirection-card-icon"><%= image_tag 'icone-societe.png' %></span>
            </div>
            <br>
            <% expertise = Expertise.find_by_nom("Secrétariat de société") %>
            <div class="expertise-redirection-card-description famille"><%= expertise.description.html_safe %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-section">
  <div class="expertise-box">
    <div class="row">
      <div class="col s12 l4">
        <div class="expertise-redirection-card grey-redirection-card">
          <%#= link_to '', fonds_commerce_path, class: 'expertise-redirection-card-link' %>
            <span class="line-title expertise-redirection-card-line-title"></span>
            <br>
            <div class="expertise-redirection-card-header">
              <div class="expertise-redirection-card-title">Fonds<br>de commerce</div>
              <span class="expertise-redirection-card-icon"><%= image_tag 'icone-bail.png' %></span>
            </div>
            <br>
            <% expertise = Expertise.find_by_nom("Fonds de commerce") %>
            <div class="expertise-redirection-card-description famille"><%= expertise.description.html_safe %></div>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="expertise-redirection-card grey-redirection-card">
          <%#= link_to '', bail_commercial_path, class: 'expertise-redirection-card-link' %>
            <span class="line-title expertise-redirection-card-line-title"></span>
            <br>
            <div class="expertise-redirection-card-header">
              <div class="expertise-redirection-card-title">Bail<br>commercial</div>
              <span class="expertise-redirection-card-icon"><%= image_tag 'icone-bail.png' %></span>
            </div>
            <br>
            <% expertise = Expertise.find_by_nom("Bail commercial") %>
            <div class="expertise-redirection-card-description famille"><%= expertise.description.html_safe %></div>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="expertise-redirection-card grey-redirection-card">
          <%#= link_to '', location_gerance_path, class: 'expertise-redirection-card-link' %>
          <span class="line-title expertise-redirection-card-line-title"></span>
          <br>
          <div class="expertise-redirection-card-header">
            <div class="expertise-redirection-card-title">Location -<br>Gérance</div>
            <span class="expertise-redirection-card-icon"><%= image_tag 'icone-bail.png' %></span>
          </div>
          <br>
            <% expertise = Expertise.find_by_nom("Location - Gérance") %>
            <div class="expertise-redirection-card-description famille"><%= expertise.description.html_safe %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/contact-link' %>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="expertises"]').addClass('active');
      var contactLinkPosition = $('#contact-link').offset().top;
      $(window).scroll(function(){
        $("#contact-link").css("top", Math.max(80, contactLinkPosition - $(this).scrollTop()));
      });
    });
  </script>
<% end %>
