<!-- Les meta tags -->
<% content_for :meta_title, "Droit des affaires - Notaires à Rennes | Perraut Pirioux Mevel" %>
<% content_for :meta_description, "Les trois notaires de l'office et une vingtaine de collaborateurs sont à votre écoute et interviennent en droit des affaires (création de société, acquisition et cession, bail commercial, etc)." %>
<% content_for :meta_image, "https://unsplash.com/?photo=P3pI6xzovu0" %>
<!-- Les meta tags -->

<!-- Bannière -->
<div class="page-banner" id="affaires-banner">
  <div class="page-banner-header left">
    <span class="page-banner-subtitle">Expertise</span>
    <h1>Droit des affaires</h1>
  </div>
</div>
<!-- Bannière -->

<!-- Navigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Expertises</span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Droit des affaires</span>
    </div>
  </div>
</div>
<!-- Navigation -->

<!-- Section d'introduction -->
<div class="page-section">
  <div class="row">
    <div class="col s12 m8 l6">
      <div class="section-heading-content">
        <span class="section-subtitle">Expertise</span>
        <span class="line-title section-line-title"></span>
        <h2>Droit des affaires</h2>
        <div class="section-description">
          <p>Créé en 2000, l'office notarial Perraut Pirioux Mevel est animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Section d'introduction -->


<!-- 1ERE SECTION COUPLE -->
<div class="grey-bg">
  <div class="page-section">
    <!-- expertise mariage -->
    <div class="expertise-box">
      <div class="expertise-redirection-card white-redirection-card">
        <%= link_to '', societe_path, class: 'expertise-redirection-card-link' %>
        <span class="line-title expertise-redirection-card-line-title"></span>
        <p>Domaine 1</p>
        <div>
          <span class="expertise-redirection-card-title">Création<br>de société</span>
          <span class="expertise-redirection-card-icon"><%= image_tag 'icone-societe.png' %></span>
        </div>
        <p class="expertise-redirection-card-description">La création de société. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores suscipit asperiores quas laudantium rem, at temporibus et harum sequi, deleniti fugit pariatur, expedita ducimus corporis nobis tempora perferendis! Dolor, velit!</p>
      </div>
      <!-- expertise pacs -->
      <div class="expertise-redirection-card white-redirection-card">
        <%= link_to '', acquisition_cession_path, class: 'expertise-redirection-card-link' %>
        <span class="line-title expertise-redirection-card-line-title"></span>
        <p>Domaine 2</p>
        <div>
          <span class="expertise-redirection-card-title">Acquisition -<br>Cession</span>
          <span class="expertise-redirection-card-icon"><%= image_tag 'icone-acquisition.png' %></span>
        </div>
        <p class="expertise-redirection-card-description">L'acquisiton - cession. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic illo voluptatibus pariatur, dolorem omnis. Porro aperiam modi vitae at aliquam, laudantium maiores iste ut, enim, iusto eaque est voluptatibus tempora.</p>
      </div>
      <!-- expertise divorce -->
      <div class="expertise-redirection-card white-redirection-card">
        <%= link_to '', bail_commercial_path, class: 'expertise-redirection-card-link' %>
        <span class="line-title expertise-redirection-card-line-title"></span>
        <p>Domaine 3</p>
        <div>
          <span class="expertise-redirection-card-title">Bail<br>commercial</span>
          <span class="expertise-redirection-card-icon"><%= image_tag 'icone-bail.png' %></span>
        </div>
        <p class="expertise-redirection-card-description">Le bail commercial. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor alias sint dolorem mollitia nobis commodi itaque laborum dolores, minus hic, architecto magnam laudantium quos ut tenetur fuga numquam aspernatur quo.</p>
      </div>
    </div>
  </div>
</div>
<!-- 1ERE SECTION COUPLE -->

<!-- Bouton Contact -->
<div id="contact-link">
  <div class="contact-link-content">
    <span class="contact-link-icon valign-wrapper"><i class="material-icons valign">email</i></span>
    <span class="contact-link-text">Contactez-nous</span>
    <%= link_to '', contact_path, class: 'carte-link' %>
  </div>
</div>
<!-- Bouton Contact -->

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="expertises"]').addClass('active');
      var contactLinkPosition = $('#contact-link').offset().top;
      $(window).scroll(function(){
        $("#contact-link").css("top", Math.max(80, contactLinkPosition - $(this).scrollTop()));
      });
    });
  </script>
<% end %>
