<!-- Bannière -->
<div class="page-banner" id="contact-banner">
  <div class="page-banner-header left">
    <span class="page-banner-subtitle">Nous contacter</span>
    <h1>Notre office</h1>
  </div>
</div>
<!-- Bannière -->

<!-- Navigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Contact</span>
    </div>
  </div>
</div>
<!-- Navigation -->

<!-- Introduction -->
<div class="page-section">
  <div class="row">
    <div class="col s6">
      <div class="section-heading-content">
        <span class="line-title section-line-title"></span>
        <span class="section-subtitle">Get in touch</span>
        <h2>Contact us</h2>
        <div class="section-description">
          <p>Créé en 2000, l'office notarial Perraut Pirioux Mevel est animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Introduction -->

<!-- Formulaire de contact -->
<div class="page-section">
  <div class="row">
    <div class="col m12 l8">
      <div id="page-contact-form">
        <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
          <div class="row" id="first-row">
            <div class="col s12 m6">
              <%= f.input :nom, :required => true, placeholder: 'VOTRE NOM' %>
            </div>
            <div class="col s12 m6">
              <%= f.input :email, :required => true, placeholder: 'VOTRE EMAIL' %>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m6">
              <%= f.input :telephone, placeholder: 'VOTRE NUMERO' %>
            </div>
            <div class="col s12 m6">
              <%= f.input :motif, collection: Contact::CONTACTTYPES, placeholder: "MOTIF DE DEMANDE" %>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <%= f.input :message, :as => :text, :required => true, placeholder: 'POSEZ ICI VOTRE QUESTION' %>
            </div>
          </div>
          <div class= "hidden">
            <%= f.input :nickname, :hint => 'Laissez ce champ vide pour test' %>
          </div>
          <div class="homepage-contact-button">
            <%= f.button :submit, 'Envoyer ma demande', :class=> "btn btn-primary btn-contact-form" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col m12 l4">
      <div id="page-contact-infos">
        <span class="contact-form-header">Trust is a business theme perfectly suited legal advisers and offices, lawyers, attorneys, and other legal and law related services.</span>
        <div class="contact-form-infos">
          <div class="row">
            <div class="col s12 m6">
              <span class="contact-form-label">Téléphone</span>
              <p><i class="fa fa-phone" aria-hidden="true"></i>02 99 67 39 39</p>
              <p><i class="fa fa-fax" aria-hidden="true"></i>02 99 67 34 54</p>
            </div>
            <div class="col s12 m6">
              <span class="contact-form-label">Email</span>
              <p><i class="fa fa-envelope" aria-hidden="true"></i>perraut-pirioux-mevel@notaires.fr</p>
            </div>
          </div>
          <div>
            <span class="contact-form-label">Adresse</span>
            <p>7 rue de la Visitation<br>CS 60808<br>35108 RENNES CEDEX 3</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Formulaire de contact -->

<div id="map"></div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).on('ready', function() {
      console.log('toto');
      var handler = Gmaps.build('Google');
      var styles = [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]}]
      handler.buildMap({ provider: { scrollwheel: false, styles: styles }, internal: { id: 'map' } }, function(){
         markers = handler.addMarkers([
            {
              "lat": 48.114403,
              "lng": -1.678775,
              "infowindow": "<h1>Office Perraut - Pirioux - Meve</h1>"
            }
          ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(14);
      });
    });
  </script>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="contact"').addClass('active');
    });
  </script>
<% end %>
