<% content_for :meta_title, "Divorce - Notaires Rennes | Perraut Pirioux Mével" %>
<% content_for :meta_description, "Le notaire est compétent pour intervenir dans le cadre d’un divorce par consentement mutuel ou dans le cadre des divorces dits contentieux. Contactez-nous pour en savoir plus sur les démarches." %>

<div class="page-landing-picture" id="divorce-landing-picture">
  <div class="page-landing-picture-header right header-red">
    <span class="page-landing-picture-subtitle">Expertise</span>
    <h1>Le Divorce</h1>
  </div>
</div>

<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Expertises</span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item"><%= link_to 'Droit de la famille', famille_path %></span>
       <i class="fa fa-chevron-right" aria-hidden="true"></i>
       <span class="sub-nav-item">Divorce</span>
    </div>
  </div>
</div>

<%= render 'shared/show-expertise-intro', expertise: @expertise %>

<%#= render 'shared/questions-collapsible', expertise: @expertise %>

<%= render 'shared/lexique', expertise: @expertise %>

<div class="page-section">
  <div class="page-expertise-section" id="fiches">
    <h2 class="section-white-header">FICHES PRATIQUES</h2>
    <div class="fiches-pratiques-container">
      <div class="row">
        <%= render 'shared/download-document-card', document: "fiche-prestation-compensatoire.pdf", document_type: "Fiche conseil", document_title: "La prestation compensatoire" %>
        <%= render 'shared/download-document-card', document: "fiche-recouvrement-pension-alimentaire.pdf", document_type: "Fiche conseil", document_title: "Pension alimentaire : recouvrement" %>
        <%= render 'shared/download-document-card', document: "fiche-donation-epoux-divorce.pdf", document_type: "Fiche conseil", document_title: "Donation entre époux" %>
        <%= render 'shared/download-document-card', document: "fiche-separation-fait.pdf", document_type: "Fiche conseil", document_title: "La séparation de fait" %>
      </div>
    </div>
  </div>
</div>

<div class="page-section">
  <div class="page-expertise-section" id="outils">
    <h2 class="section-white-header">COMBIEN CA COUTE ?</h2>
    <p>Nous consulter pour l'établissement d'un devis sur mesure en cliquant <%= link_to 'ici', contact_path %>.</p>
  </div>
</div>

<div class="grey-bg">
  <div class="page-section">
    <div class="page-expertise-section" id="contact">
      <h2 class="section-white-header">Contact</h2>
      <p>Vous n'avez pas trouvé la réponse à votre question ? Nous serons ravis de vous y répondre de façon plus personnalisée. Contactez-nous par téléphone ou par mail.</p>
      <%= link_to 'Contactez-nous', contact_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<%= render 'shared/contact-link' %>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="expertises"]').addClass('active');
      var contactLinkPosition = $('#contact-link').offset().top;
      $(window).scroll(function(){
        $("#contact-link").css("top", Math.max(80, contactLinkPosition - $(this).scrollTop()));
      });
    });
  </script>
<% end %>
