<div class="container">
  <br>
  <h1 class="center-align">Nos domaines d'expertises</h1>
  <br>
  <div class="expertises-container">
    <div class="carte-expertises">
      <div class="carte-expertises-photo">
        <%= image_tag 'photo-test2.png' %>
        <i class="fa fa-caret-up carte-expertises-triangle" aria-hidden="true"></i>
      </div>
      <div class="carte-expertises-infos">
        <h2>Droit de la famille</h2>
      </div>
      <%= link_to '', famille_path, class: "carte-expertises-link" %>
    </div>
    <div class="carte-expertises">
      <div class="carte-expertises-photo">
        <%= image_tag 'photo-test2.png' %>
        <i class="fa fa-caret-up carte-expertises-triangle" aria-hidden="true"></i>
      </div>
      <div class="carte-expertises-infos">
        <h2>Immobilier</h2>
      </div>
      <%= link_to '', immobilier_path, class: "carte-expertises-link" %>
    </div>
    <div class="carte-expertises">
      <div class="carte-expertises-photo">
        <%= image_tag 'photo-test2.png' %>
        <i class="fa fa-caret-up carte-expertises-triangle" aria-hidden="true"></i>
      </div>
      <div class="carte-expertises-infos">
        <h2>Affaires</h2>
      </div>
      <%= link_to '', commercial_path, class: "carte-expertises-link" %>
    </div>
    <div class="carte-expertises">
      <div class="carte-expertises-photo">
        <%= image_tag 'photo-test2.png' %>
        <i class="fa fa-caret-up carte-expertises-triangle" aria-hidden="true"></i>
      </div>
      <div class="carte-expertises-infos">
        <h2>Promotion immobilière</h2>
      </div>
      <%= link_to '', patrimoine_path, class: "carte-expertises-link" %>
    </div>
  </div>
</div>
