<!-- Bannière -->
<div id="expertises-banner">
  <div class="expertises-banner-header">
    <h4>Notre expertise</h4>
  </div>
</div>
<!-- Bannière -->
<div class="expertise-niveau1-section">
  <!-- 1ère section - Les expertises : paragraphe d'introduction -->
  <div class="expertise-heading">
    <div class="section-heading-content expertise-section-heading">
      <span class="line-title section-line-title"></span>
      <span class="section-subtitle">Nous sommes là pour vous</span>
      <h2>Nos domaines d'expertise</h2>
      <div class="section-description">
        <p>L'office notarial Perraut Pirioux Mevel est animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
      </div>
    </div>
  </div>
  <!-- 1ère section - Les expertises : paragraphe d'introduction -->

  <div class="flexbox-cartes-expertise">
    <div class="carte-expertise" id="carte-expertise-famille">
      <%= image_tag 'icone-famille.png' %>
      <h2 class="carte-expertise-title">Droit de la famille</h2>
      <%= link_to '', famille_path, class: 'carte-link' %>
    </div>
    <div class="carte-expertise" id="carte-expertise-affaires">
      <%= image_tag 'icone-affaires.png' %>
      <h2 class="carte-expertise-title">Droit des affaires</h2>
      <%= link_to '', affaires_path, class: 'carte-link' %>
    </div>
    <div class="carte-expertise" id="carte-expertise-immobilier">
      <div class="carte-expertise-contenu">
        <%= image_tag 'icone-immobilier.png' %>
        <h2 class="carte-expertise-title">Droit immobilier</h2>
        <%= link_to '', immobilier_path, class: 'carte-link' %>
      </div>
    </div>
    <div class="carte-expertise" id="carte-expertise-promotion">
      <%= image_tag 'icone-promotion.png' %>
      <h2 class="carte-expertise-title">Promotion immobilière</h2>
      <%= link_to '', promotion_path, class: 'carte-link' %>
    </div>
  </div>
</div>
