<div class="orange-bg">
<br>
  <h1 class="center-align">Nos domaines d'expertises</h1>
</div>
<div class="container">
  <div class="expertises-container">
    <div class="carte-expertises">
      <div class="carte-expertises-photo">
        <%= image_tag 'photo-test2.png' %>
        <i class="fa fa-caret-up carte-expertises-triangle" aria-hidden="true"></i>
      </div>
      <div class="carte-expertises-infos">
        <h4>Droit de la famille</h4>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
      </div>
      <%= link_to '', famille_path, class: "carte-expertises-link" %>
    </div>
    <div class="carte-expertises">
      <div class="carte-expertises-photo">
        <%= image_tag 'photo-test2.png' %>
        <i class="fa fa-caret-up carte-expertises-triangle" aria-hidden="true"></i>
      </div>
      <div class="carte-expertises-infos">
        <h4>Immobilier</h4>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
      </div>
      <%= link_to '', immobilier_path, class: "carte-expertises-link" %>
    </div>
    <div class="carte-expertises">
      <div class="carte-expertises-photo">
        <%= image_tag 'photo-test2.png' %>
        <i class="fa fa-caret-up carte-expertises-triangle" aria-hidden="true"></i>
      </div>
      <div class="carte-expertises-infos">
        <h4>Affaires</h4>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
      </div>
      <%= link_to '', affaires_path, class: "carte-expertises-link" %>
    </div>
    <div class="carte-expertises">
      <div class="carte-expertises-photo">
        <%= image_tag 'photo-test2.png' %>
        <i class="fa fa-caret-up carte-expertises-triangle" aria-hidden="true"></i>
      </div>
      <div class="carte-expertises-infos">
        <h4>Promotion immobilière</h4>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
      </div>
      <%= link_to '', promotion_path, class: "carte-expertises-link" %>
    </div>
  </div>
</div>
