<div class="container">
  <h1>Droit de la famille</h1>
  <h2><%= link_to "Couple", couple_path %></h2>
  <p><%= link_to "Mariage", mariage_path %></p>
  <p><%= link_to "Pacs", pacs_path %></p>
  <p><%= link_to "Divorce", divorce_path %></p>

  <h2><%= link_to 'Succession', succession_path  %></h2>
  <h2><%= link_to 'Transmission', transmission_path %></h2>
    <p><%= link_to "Donation", donation_path %></p>
    <p><%= link_to "Testament", testament_path %></p>
  <h2><%= link_to 'Adoption', adoption_path %></h2>
</div>
