<% content_for :meta_title, "Droit de la famille - Notaires Rennes | Perraut Pirioux Mével" %>
<% content_for :meta_description, "Droit de la famille. Trois notaires et une vingtaine de collaborateurs vous conseillent efficacement sur toutes vos questions relatives à la famille : mariage, pacs, divorce, adoption, transmission, etc." %>

<div class="page-landing-picture" id="famille-landing-picture">
  <div class="page-landing-picture-header left">
    <span class="page-landing-picture-subtitle">Expertise</span>
    <h1>Droit de la famille</h1>
  </div>
</div>
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Expertises</span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Droit de la famille</span>
    </div>
  </div>
</div>

<div class="page-section">
  <div class="row">
    <div class="col s12 m8 l6">
      <div class="section-heading-content">
        <span class="section-subtitle">Expertise</span>
        <span class="line-title section-line-title"></span>
        <h2>Droit de la famille</h2>
        <div class="section-description">
          <p>Nous vous accompagnons dans tous les domaines de la vie familiale, pour vous conseiller efficacement sur toutes les questions relatives au Pacs, mariage, divorce, adoption et transmission.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grey-bg">
  <div class="page-section">
    <div class="expertise-box">
      <div class="row">
        <div class="col s12 l4">
          <div class="expertise-redirection-card white-redirection-card">
            <%= link_to '', union_path, class: 'expertise-redirection-card-link' %>
            <span class="line-title expertise-redirection-card-line-title"></span>
            <br>
            <div class="expertise-redirection-card-header">
              <div class="expertise-redirection-card-title">Union</div>
              <span class="expertise-redirection-card-icon"><%= image_tag 'icone-mariage.png' %></span>
            </div>
            <br>
            <% expertise = Expertise.find_by_nom("Union - Vie à deux") %>
            <div class="expertise-redirection-card-description famille"><%= expertise.description.html_safe %></div>
          </div>
        </div>
        <div class="col s12 l4">
          <div class="expertise-redirection-card white-redirection-card">
            <%= link_to '', divorce_path, class: 'expertise-redirection-card-link' %>
            <span class="line-title expertise-redirection-card-line-title"></span>
            <br>
            <div class="expertise-redirection-card-header">
              <div class="expertise-redirection-card-title">Divorce</div>
              <span class="expertise-redirection-card-icon"><%= image_tag 'icone-divorce.png' %></span>
            </div>
            <br>
            <% expertise = Expertise.find_by_nom("Divorce") %>
            <div class="expertise-redirection-card-description famille"><%= expertise.description.html_safe %></div>
          </div>
        </div>
        <div class="col s12 l4">
          <div class="expertise-redirection-card white-redirection-card">
            <%= link_to '', adoption_path, class: 'expertise-redirection-card-link' %>
          <span class="line-title expertise-redirection-card-line-title"></span>
          <br>
          <div class="expertise-redirection-card-header">
            <div class="expertise-redirection-card-title">Adoption</div>
            <span class="expertise-redirection-card-icon"><%= image_tag 'icone-famille.png' %></span>
          </div>
          <br>
            <% expertise = Expertise.find_by_nom("Adoption") %>
            <div class="expertise-redirection-card-description famille"><%= expertise.description.html_safe %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-section">
  <div class="expertise-box">
    <div class="row">
      <div class="col s12 l4">
        <div class="expertise-redirection-card grey-redirection-card">
          <%= link_to '', succession_path, class: 'expertise-redirection-card-link' %>
          <span class="line-title expertise-redirection-card-line-title"></span>
          <br>
          <div class="expertise-redirection-card-header">
            <div class="expertise-redirection-card-title">Succession</div>
            <span class="expertise-redirection-card-icon"><%= image_tag 'icone-succession.png' %></span>
          </div>
          <br>
            <% expertise = Expertise.find_by_nom("Succession") %>
            <div class="expertise-redirection-card-description famille"><%= expertise.description.html_safe %></div>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="expertise-redirection-card grey-redirection-card">
          <%= link_to '', donation_path, class: 'expertise-redirection-card-link' %>
          <span class="line-title expertise-redirection-card-line-title"></span>
          <br>
          <div class="expertise-redirection-card-header">
            <div class="expertise-redirection-card-title">Donation</div>
            <span class="expertise-redirection-card-icon"><%= image_tag 'icone-don.png' %></span>
          </div>
          <br>
            <% expertise = Expertise.find_by_nom("Donation") %>
            <div class="expertise-redirection-card-description famille"><%= expertise.description.html_safe %></div>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="expertise-redirection-card grey-redirection-card">
          <%= link_to '', testament_path, class: 'expertise-redirection-card-link' %>
          <span class="line-title expertise-redirection-card-line-title"></span>
          <br>
          <div class="expertise-redirection-card-header">
            <div class="expertise-redirection-card-title">Testament</div>
            <span class="expertise-redirection-card-icon"><%= image_tag 'icone-testament.png' %></span>
          </div>
          <br>
            <% expertise = Expertise.find_by_nom("Testament") %>
            <div class="expertise-redirection-card-description famille"><%= expertise.description.html_safe %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/contact-link' %>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="expertises"]').addClass('active');
      var contactLinkPosition = $('#contact-link').offset().top;
      $(window).scroll(function(){
        $("#contact-link").css("top", Math.max(80, contactLinkPosition - $(this).scrollTop()));
      });
    });
  </script>
<% end %>

