<div id="guides-banner">
  <div class="guides-banner-header">
    <h4>GUIDES PRATIQUES</h4>
  </div>
</div>
<div class="guides-section">
  <h2>Combien ça coûte ?</h2>
  <h5>Emoluments, Honoraires - Définition</h5>
  <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
  <h5>Emoluments - Calcul</h5>
  <a href="http://www.paris.notaires.fr/outil/immobilier/calcul-de-frais-dachat" class="btn-light">Comprendre le calcul  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
  <h5>Honoraires - Calcul</h5>
  <p>Les honoraires dépendant des opérations effectuées, etc etc, blablabla</p>
  <h2>Les fiches pratiques</h2>
  <h2>Les outils</h2>
  <h2>Actualités des notaires en France</h2>
  <ul>
    <% @feed_actualites.items.each do |item| %>
    <li>
      <%= item.title %>
      <a href="<%= item.link %>" target="_blank" class="btn-light">En savoir plus  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </li>
    <% end %>
  </ul>

  <h2>La lettre de mon notaire</h2>
  <ul>
    <% @feed_lettre_des_notaires.items.each do |item| %>
    <li>
      <%= item.title %>
      <a href="<%= item.link %>" target="_blank" class="btn-light">En savoir plus  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </li>
    <% end %>
  </ul>
  <div class="guides-section-cartes">
    <div class="carte-guide">
      <img src="assets/guide-notaires-succession.jpg" alt="guide-notaires-succession">
      <span class="line-title carte-guide-line"></span>
      <h3>Succession - L'un de vos proches est décédé</h3>
      <p>Qui hérite? Dans quelle proportion? Quel en est le coût? Votre notaire est là pour vous aider et vous assister dans les opérations successorales que vous aurez à effectuer...</p>
      <div class="carte-guide-link">
        <div class="btn-light">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          Consulter le guide
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="carte-guide">
      <img src="assets/guide-vente-immobiliere.jpg" alt="guide-vente-immobiliere">
      <span class="line-title carte-guide-line"></span>
      <h3>Vente immobilière - mode d'emploi</h3>
      <p>Quels documents dois-je fournir? Dès qu'un accord est trouvé avec l'acquéreur, je remets au notaire les documents portant sur ma situation personnelle ...</p>
      <div class="carte-guide-link">
        <a href="assets/guide-vente-immobiliere.pdf" target="_blank" class="btn-light">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          Consulter le guide
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="carte-guide">
      <img src="assets/guide-achat-immobilier.jpg" alt="guide-achat-immobiliere">
      <span class="line-title carte-guide-line"></span>
      <h3>Achat immobilier - mode d'emploi</h3>
      <p>Acheter un bien immobilier relève souvent du parcours du combattant.Quelles précautions prendre..?</p>
      <div class="carte-guide-link">
        <div class="btn-light">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          Consulter le guide
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="faq"').addClass('active');
    });
  </script>
<% end %>
