<% content_for :meta_title, "Créer sa société - Notaires à Rennes | Perraut Pirioux Mével" %>
<% content_for :meta_description, "Pour vous accompagner dans votre vie professionnelle, nous veillons, en tant qu’officier public, à la rédaction équilibrée du contrat dans le respect de la volonté des parties et des règles de droits." %>

<div class="page-landing-picture" id="pacs-landing-picture">
  <div class="page-landing-picture-header left header-red">
    <span class="page-landing-picture-subtitle">Expertise</span>
    <h1>Créer sa société</h1>
  </div>
</div>

<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Expertises</span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item"><%= link_to 'Droit des affaires', affaires_path %></span>
       <i class="fa fa-chevron-right" aria-hidden="true"></i>
       <span class="sub-nav-item">Société</span>
    </div>
  </div>
</div>

<div class="page-section">
  <div class="page-expertise-section" id="outils">
    <h2 class="section-white-header">COMBIEN CA COUTE ?</h2>
    <h5>Nos tarifs</h5>
    <p>Les statuts établis et signés devant le notaire coûte environ 1 100 € répartis comme suit :</p>
    <ul>
      <li>- Honoraires de l’étude : 800 €</li>
      <li>- Frais de procédure et de publicité : 300 €</li>
    </ul>
    <p>Vous pouvez consulter les tarifs des formalités au greffe en cliquant <%= link_to 'ici', 'https://www.infogreffe.fr/documents-officiels/infogreffe-gratuit.html', target: "_blank" %>.</p>
  </div>
</div>

<div class="grey-bg">
  <div class="page-section">
    <div class="page-expertise-section" id="contact">
      <h2 class="section-white-header">Contact</h2>
      <p>Vous n'avez pas trouvé la réponse à votre question ? Nous serons ravis de vous y répondre de façon plus personnalisée. Contactez-nous par téléphone ou par mail.</p>
      <%= link_to 'Contactez-nous', contact_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<%= render 'shared/contact-link' %>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="expertises"]').addClass('active');
      var contactLinkPosition = $('#contact-link').offset().top;
      $(window).scroll(function(){
        $("#contact-link").css("top", Math.max(80, contactLinkPosition - $(this).scrollTop()));
      });
    });
  </script>
<% end %>
