<!-- Les meta tags -->
<% content_for :meta_title, "Créer sa société - Notaires à Rennes | Perraut Pirioux Mével" %>
<% content_for :meta_description, "Pour vous accompagner dans votre vie professionnelle, nous veillons, en tant qu’officier public, à la rédaction équilibrée du contrat dans le respect de la volonté des parties et des règles de droits." %>
<!-- Les meta tags -->

<!-- Bannière -->
<div class="page-banner" id="pacs-banner">
  <div class="page-banner-header left header-red">
    <span class="page-banner-subtitle">Expertise</span>
    <h1>Créer sa société</h1>
  </div>
</div>
<!-- Bannière -->

<!-- Navigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Expertises</span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item"><%= link_to 'Droit des affaires', affaires_path %></span>
       <i class="fa fa-chevron-right" aria-hidden="true"></i>
       <span class="sub-nav-item">Société</span>
    </div>
  </div>
</div>
<!-- Navigation -->

<%= render 'shared/show-expertise-intro', expertise: @expertise %>

<%= render 'shared/questions-collapsible', expertise: @expertise %>

<!-- Fiches pratiques-->
<div class="page-section">
  <div class="page-expertise-section" id="fiches">
    <h2 class="section-white-header">FICHES PRATIQUES</h2>
    <div class="fiches-pratiques-container">
      <div class="row">
        <%= render 'shared/download-document-card', document: "fiche-societe-anonyme.pdf", document_type: "Fiche conseil", document_title: "La société anonyme", document_intro: nil %>
        <%= render 'shared/download-document-card', document: "fiche-societe-action-simplifiee.pdf", document_type: "Fiche conseil", document_title: "La société par action simplifiée", document_intro: nil %>
        <%= render 'shared/download-document-card', document: "fiche-societe-civile-immobiliere.pdf", document_type: "Fiche conseil", document_title: "La société civile immobilière", document_intro: nil %>
      </div>
    </div>
  </div>
</div>
<div class="page-section">
  <div class="page-expertise-section" id="outils">
    <h2 class="section-white-header">COMBIEN CA COUTE ?</h2>
    <h5>Nos tarifs</h5>
    <p>Les statuts établis et signés devant le notaire coûte environ 1 100 € répartis comme suit :</p>
    <ul>
      <li>- Honoraires de l’étude : 800 €</li>
      <li>- Frais de procédure et de publicité : 300 €</li>
    </ul>
    <p>Vous pouvez consulter les tarifs des formalités au greffe en cliquant <%= link_to 'ici', 'https://www.infogreffe.fr/documents-officiels/infogreffe-gratuit.html', target: "_blank" %>.</p>
  </div>
</div>

<div class="grey-bg">
  <div class="page-section">
    <div class="page-expertise-section" id="contact">
      <h2 class="section-white-header">Contact</h2>
      <p>Vous n'avez pas trouvé la réponse à votre question ? Nous serons ravis de vous y répondre de façon plus personnalisée. Contactez-nous par téléphone ou par mail.</p>
      <%= link_to 'Contactez-nous', contact_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<!-- Bouton Contact -->
<%= render 'shared/contact-link' %>
<!-- Bouton Contact -->

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="expertises"]').addClass('active');
      var contactLinkPosition = $('#contact-link').offset().top;
      $(window).scroll(function(){
        $("#contact-link").css("top", Math.max(80, contactLinkPosition - $(this).scrollTop()));
      });
    });
  </script>
<% end %>
