<!-- Les meta tags -->
<% content_for :meta_title, "Office Notarial Perraut - Pirioux - Mével | Notaires Rennes" %>
<% content_for :meta_description, "Situé au coeur de Rennes, l'Office Notarial Perraut Pirioux Mével vous accompagne dans les moments importants de votre vie : mariage, pacs, succession, testament, etc. Trois notaires et une vingtaine de collaborateurs sont à votre écoute et vous aident dans vos démarches." %>
<!-- Les meta tags -->

<div class="homepage-header">
  <div class="homepage-header-background"></div>
  <div class="homepage-header-content">
    <div class="banner-logo-container">
      <div class="banner-logo"><%= image_tag 'logo-notaires.png', id: "banner-logo", alt: 'logo notaires rennes' %></div>
      <div class="banner-names">
        <span class="names">Perraut</span>
        <span class="names">Pirioux</span>
        <span class="names">Mével</span>
      </div>
    </div>
    <h1 class="hide-on-small-only">Notaires à Rennes</h1>
  </div>
</div>
<div class="homepage-section">
  <div class="row">
    <div class="col s12 m8 l6">
      <div class="section-heading-content">
        <span class="section-subtitle">Présentation</span>
        <span class="line-title section-line-title"></span>
        <h2>Office Notarial<br>Perraut - Pirioux - Mével</h2>
        <div class="section-description">
          <p>L’Office Notarial de Loïc PERRAUT, Jean-Charles PIRIOUX et Céline MÉVEL est une étude généraliste avec des savoir-faire spécialisés. Composée de trois Notaires et d’une vingtaine de collaborateurs, sa taille humaine permet un véritable travail d’équipe aussi bien au niveau des collaborateurs que des notaires eux-mêmes.</p>
        </div>
        <%= link_to(office_path) do %>
          <span class="btn-light">En savoir plus  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="homepage-section">
  <div class="row">
    <div class="col s12 m4 value-card">
      <div class="value-title">
        <span class="value-first-title">Notre<br>histoire</span>
        <span class="value-number">01.</span>
      </div>
      <div class="value-description">
        <p>L’Office notarial de Maîtres Loïc PERRAUT, Jean-Charles PIRIOUX et Céline MÉVEL est située à RENNES (35000), 7 rue de la Visitation.</p>
        <p>De 1992 à 2007 l’étude était située à RENNES (35000), Boulevard de la Tour d’Auvergne. Auparavant, l’étude était située à RENNES (35000), rue de Nemours et antérieurement, rue d'Orléans.</p>
        <p>Nos derniers prédécesseurs sont : </p>
        <p>Me Gérard BAGOT (jusqu’en 2007)</p>
        <p>Me Charles BAGOT</p>
      </div>
    </div>
    <div class="col s12 m4 value-card">
      <div class="value-title">
        <span class="value-first-title">Nos<br>valeurs</span>
        <span class="value-number">02.</span>
      </div>
      <div class="value-description">
        <p>SERIEUX : Notre but est d’apporter à nos clients la qualité et la sérénité juridique qu’ils attendent.</p>
        <p>CONFIANCE : Les savoir-faire ne sont pas tout. Pour nous, la qualité de la relation client est essentielle.</p>
        <p>REACTIVITE : Par une excellente maitrise des nouveaux moyens de communication et d’échange, nous vous proposons également une réactivité face à vos questions et vos projets.</p>
      </div>
    </div>
    <div class="col s12 m4 value-card">
      <div class="value-title">
        <span class="value-first-title">Notre<br>mission</span>
        <span class="value-number">03.</span>
      </div>
      <div class="value-description">
        <p>Le notaire est un officier public nommé par le Garde des Sceaux, Ministre de la Justice, qui a pour mission de conseiller les parties, de rédiger des actes authentiques dans le triple objectif d’équilibre, d’efficacité et de sécurité juridique.</p>
      </div>
    </div>
  </div>
  <div class="value-button">
    <%= link_to "Découvrir l'office", office_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="grey-bg">
  <div class="homepage-section">
    <div class="row">
      <div class="col s12 m8 l6">
        <div class="section-heading-content expertise-section-heading">
          <span class="section-subtitle">Nous sommes là pour vous</span>
          <span class="line-title section-line-title"></span>
          <h2>Nos domaines d'expertise</h2>
          <div class="section-description">
            <p>L’ordonnance du 2 novembre 1945 définit la mission du notaire de la façon suivante :</p>
            <p class="italic">« Les notaires sont les officiers publics établis pour recevoir les actes et contrats auxquels les parties doivent ou veulent faire donner le caractère d’authenticité attaché aux actes de l’autorité publique, et pour assurer la date, en conserver le dépôt, en délivrer des grosses et expéditions. ».</p>
            <p>Outre cette mission légale d’authentification et de conservation des actes, l’intervention des notaires est beaucoup large : c’est un généraliste du droit ayant une vision globale des problèmes juridiques.</p>
            <p>Il intervient dans l’ensemble du domaine juridique et fiscal ce qui le rend naturellement compétent pour sa fonction de conseil des clients.</p>
            <p>Notre office vous accompagne dans les domaines de l’immobilier (achat, vente, baux, etc…), de la famille (union, séparation, donation, legs, succession, adoption, etc…), l’entreprise (Sociétés, fonds de commerce, baux commerciaux et professionnels, location-gérance, etc…)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="homepage-expertises-box">
      <div class="row">
        <div class="col s12 m6 l3">
          <div class="homepage-expertise">
            <%= image_tag 'expertise-famille.jpg', alt: 'notaires expertise droit famille' %>
            <h3>Droit de la famille</h3>
            <p>Nous vous accompagnons dans tous les domaines de la vie familiale, pour vous conseiller efficacement sur toutes les questions relatives au pacs, mariage, divorce, adoption et transmission.</p>
            <div class="expertise-link">
              <%= link_to(famille_path) do %>
                <span class="btn-light">En savoir plus  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="homepage-expertise">
            <%= image_tag 'expertise-affaires.jpg', alt: 'notaires expertise droit affaires' %>
            <h3>Droit des affaires</h3>
            <p>Pour vous accompagner dans votre vie professionnelle, nous veillons, en tant qu’officier public, à la rédaction équilibrée du contrat dans le respect des règles de droit.</p>
            <div class="expertise-link">
              <%= link_to(affaires_path) do %>
                <span class="btn-light">En savoir plus  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="homepage-expertise">
            <%= image_tag 'expertise-immobilier.jpg', alt: 'notaires expertise droit immobilier' %>
            <h3>Droit immobilier</h3>
            <p>En France, toute vente immobilière passe par le notaire. Il veille, en tant qu’officier public, à la rédaction équilibrée du contrat dans le respect de la volonté des parties et des règles de droit.</p>
            <div class="expertise-link">
              <%= link_to(immobilier_path) do %>
                <span class="btn-light">En savoir plus  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="homepage-expertise">
            <%= image_tag 'expertise-promotion.jpg', alt: 'notaires expertise promotion immobilière' %>
            <h3>Promotion immobilière</h3>
            <p>Acheter un bien immobilier relève souvent du parcours du combattant.Quelles précautions prendre ? Nous vous accompagnons dans cette démarche.</p>
            <div class="expertise-link">
              <%= link_to(promotion_path) do %>
                <span class="btn-light">En savoir plus  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="homepage-section">
  <div class="row">
    <div class="col s12 m8 l6">
      <div class="section-heading-content">
        <span class="section-subtitle">Annonces immobilières</span>
        <span class="line-title section-line-title"></span>
        <h2 class="uppercase">Notre sélection</h2>
        <div class="section-description">
          <p>Notre office notarial vous propose une sélection d'annonces immobilières à Rennes et aux alentours. Vous cherchez un appartement, une maison ou tout autre type de bien immobilier, nous vous invitons à consulter notre offre.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="homepage-annonces-box">
      <% @annonces_to_display.each do |annonce| %>
        <%= render 'shared/annonces-homepage', annonce: annonce %>
      <% end %>
    </div>
    <div class="value-button">
      <%= link_to "Voir toutes nos offres", annonces_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<div class="grey-bg homepage-contact-section" id="homepage-contact-section-desktop">
  <div id="homepage-contact-container">
    <div class="section-heading-content">
      <span class="section-subtitle">Contactez-nous</span>
      <span class="line-title section-line-title"></span>
      <h2>Prendre rendez-vous</h2>
      <div class="section-description">
        <p>Nous nous adaptons à vos disponibilités. Aussi, il est tout à fait possible d’envisager des RDV en dehors des heures d’ouverture du standard. N’hésitez pas à contacter le secrétariat pour prendre un RDV ou compléter directement le formulaire ci-dessous.</p>
      </div>
    </div>
    <div id="homepage-contact-form">
      <%= render 'shared/contact-form', contact: @contact %>
    </div>
  </div>
  <div class="homepage-contact-picture">
  </div>
</div>
<div id="homepage-contact-section-mobile">
  <div class="grey-bg" id="homepage-contact-container">
    <div class="section-heading-content">
      <span class="section-subtitle">Contactez-nous</span>
      <span class="line-title section-line-title"></span>
      <h2>Prendre rendez-vous</h2>
      <div class="section-description">
        <p>Nous nous adaptons à vos disponibilités. Aussi, il est tout à fait possible d’envisager des RDV en dehors des heures d’ouverture du standard. N’hésitez pas à contacter le secrétariat pour prendre un RDV ou compléter directement le formulaire ci-dessous.</p>
      </div>
    </div>
    <div id="homepage-contact-form">
      <%= render 'shared/contact-form', contact: @contact %>
    </div>
  </div>
</div>
<div class="homepage-section-contact">
  <div id="map-homepage"></div>
  <div class="section-contact-infos">
    <div class="section-contact-container">
      <div class="section-contact-header">
        <span class="section-contact-subtitle">Office notarial à Rennes - Visitation</span>
        <h2>Perraut - Pirioux - Mével</h2>
      </div>
      <div class="contact-form-infos">
        <div class="row">
          <span class="contact-form-label">Adresse</span>
          <p>7 rue de la Visitation<br>CS 60808<br>35108 RENNES CEDEX 3</p>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <span class="contact-form-label">Téléphone</span>
            <p><i class="fa fa-phone" aria-hidden="true"></i>02 99 67 39 39</p>
            <p><i class="fa fa-fax" aria-hidden="true"></i>02 99 67 34 54</p>
          </div>
          <div class="col s12 m6">
            <span class="contact-form-label">Email</span>
            <p><i class="fa fa-envelope" aria-hidden="true"></i>perraut-pirioux-mevel@notaires.fr</p>
          </div>
        </div>
        <div class="row">
          <span class="contact-form-label">Standard</span><p>Ouvert de 9h à 12h et de 14h à 17h45 (17h le vendredi).<br>Etude fermée le samedi (sauf sur rendez-vous).</p>
        </div>
        <span class="contact-form-label">Accès</span>
        <div class="row">
          <div class="col s12 m6">
            <p><i class="fa fa-subway" aria-hidden="true"></i>Station Sainte Anne</p>
          </div>
          <div class="col s12 m6">
            <p><i class="fa fa-car" aria-hidden="true"></i>Parking Hoche</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      var styles = [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]}]
      handler.buildMap({ provider: { scrollwheel: false, styles: styles }, internal: { id: 'map-homepage' } }, function(){
         markers = handler.addMarkers([
            {
              "lat": 48.114403,
              "lng": -1.678775,
              "infowindow": "<h1>Office Perraut - Pirioux - Meve</h1>"
            }
          ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(14);
      });
    });
  </script>
<% end %>
