<!-- Les meta tags -->
<% content_for :meta_title, "Office Notarial à Rennes - Notaires Perraut Pirioux Mevel" %>
<% content_for :meta_description, "Trois notaires et une vingtaine de collaborateurs sont à votre écoute et vous accompagnent dans vos démarches (droit de la famille, succession, promotion immobilière, etc)." %>
<% content_for :meta_image, "https://unsplash.com/?photo=P3pI6xzovu0" %>
<!-- Les meta tags -->

<!-- Bannière -->
<div class="homepage-header">
  <div class="homepage-header-background"></div>
  <div class="homepage-header-content">
    <div class="banner-logo-container">
      <div class="banner-logo"><%= image_tag 'logo-notaires.png', id: "banner-logo" %></div>
      <div class="banner-names">
        <span class="names">Perraut</span>
        <span class="names">Pirioux</span>
        <span class="names">Mevel</span>
      </div>
    </div>
    <h1 class="hide-on-small-only">Notaires à Rennes</h1>
  </div>
</div>
<!-- Bannière -->

<!-- 1ère section - Les valeurs : paragraphe d'introduction -->
<div class="homepage-section">
  <div class="row">
    <div class="col s12 m8 l6">
      <div class="section-heading-content">
        <span class="section-subtitle">Présentation</span>
        <span class="line-title section-line-title"></span>
        <h2>Office Notarial Perraut - Pirioux - Mevel</h2>
        <div class="section-description">
          <p>Créé en 2000, l'office notarial Perraut Pirioux Mevel est animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
        </div>
        <%= link_to(office_path) do %>
          <span class="btn-light">En savoir plus  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- 1ère section - Les valeurs : paragraphe d'introduction -->

<!-- 1ère section - Les valeurs : paragraphe de description -->
<div class="homepage-section">
  <div class="homepage-values-container">
    <div class="value-card">
      <div class="value-title">
        <span class="value-first-title">Notre<br>histoire</span>
        <span class="value-number">01.</span>
      </div>
      <div class="value-description">
        <p>Créé en 2000, l'office notarial Perraut Pirioux Mevel est animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
      </div>
    </div>
    <div class="value-card">
      <div class="value-title">
        <span class="value-first-title">Nos<br>valeurs</span>
        <span class="value-number">02.</span>
      </div>
      <div class="value-description">
        <p>Mettre en avant le sérieux, la confiance, etc</p>
      </div>
    </div>
    <div class="value-card">
      <div class="value-title">
        <span class="value-first-title">Notre<br>mission</span>
        <span class="value-number">03.</span>
      </div>
      <div class="value-description">
        <p>Notre mission est de vous conseiller et vous accompagner dans etc etc. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aperiam dolores tempora debitis magni vel officia quasi unde excepturi voluptatum consequuntur, quis, hic illo ea, minus voluptas dolore at corrupti.</p>
      </div>
    </div>
  </div>
  <div class="value-button">
    <%= link_to "Découvrir l'office", office_path, class: 'btn btn-primary' %>
  </div>
</div>
<!-- 1ère section - Les valeurs : paragraphe de description -->

<!-- 2ème section - Les expertises : background de couleur -->
<div class="grey-bg">
  <div class="homepage-section">
    <!-- 2ème section - Les expertises : paragraphe d'introduction -->
    <div class="expertise-heading">
      <div class="section-heading-content expertise-section-heading">
        <span class="section-subtitle">Nous sommes là pour vous</span>
        <span class="line-title section-line-title"></span>
        <h2>Nos domaines d'expertise</h2>
        <div class="section-description">
          <p>L'office notarial Perraut Pirioux Mevel est animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
        </div>
      </div>
    </div>
    <!-- 2ème section - Les expertises : paragraphe d'introduction -->

    <!-- 2ème section - Les expertises : paragraphe de description -->
    <div class="homepage-expertises-box">
      <div class="homepage-expertise">
        <%= image_tag 'small-famille.jpg' %>
        <h3>Droit de la famille</h3>
        <p>Acheter un bien immobilier relève souvent du parcours du combattant.Quelles précautions prendre..?</p>
        <div class="expertise-link">
          <%= link_to(famille_path) do %>
            <span class="btn-light">En savoir plus  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
          <% end %>
        </div>
      </div>
      <div class="homepage-expertise">
        <%= image_tag 'small-affaires.jpg' %>
        <h3>Droit des affaires</h3>
        <p>Acheter un bien immobilier relève souvent du parcours du combattant.Quelles précautions prendre..?</p>
        <div class="expertise-link">
          <%= link_to(affaires_path) do %>
            <span class="btn-light">En savoir plus  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
          <% end %>
        </div>
      </div>
      <div class="homepage-expertise">
        <%= image_tag 'small-immobilier.jpg' %>
        <h3>Droit immobilier</h3>
        <p>Acheter un bien immobilier relève souvent du parcours du combattant.Quelles précautions prendre..?</p>
        <div class="expertise-link">
          <%= link_to(immobilier_path) do %>
            <span class="btn-light">En savoir plus  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
          <% end %>
        </div>
      </div>
      <div class="homepage-expertise">
        <%= image_tag 'small-promotion.jpg' %>
        <h3>Promotion immobilière</h3>
        <p>Acheter un bien immobilier relève souvent du parcours du combattant.Quelles précautions prendre..?</p>
        <div class="expertise-link">
          <%= link_to(promotion_path) do %>
            <span class="btn-light">En savoir plus  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
          <% end %>
        </div>
      </div>
    </div>
    <!-- 2ème section - Les expertises : paragraphe de description -->
  </div>
</div>
<!-- 2ème section - Les expertises : background de couleur -->

<!-- 3ème section - Les annonces immobilières : background de couleur -->
<div class="homepage-section">
  <!-- 3ème section - Les annonces immobilières : paragraphe d'introduction -->
  <div class="row">
    <div class="col s12 m8 l6">
      <div class="section-heading-content">
        <span class="section-subtitle">Négociation immobilière</span>
        <span class="line-title section-line-title"></span>
        <h2>NOS ANNONCES IMMOBILIÈRES</h2>
        <div class="section-description">
          <p>Créé en 2000, l'office notarial Perraut Pirioux Mevel est animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 3ème section - Les annonces immobilières : paragraphe d'introduction -->

  <!-- 3ème section - Les annonces immobilières : paragraphe de description -->
  <div class="homepage-annonces-box">
    <div class="homepage-annonce">
      <% a = @favorite_annonces[0] || a = @annonces[0] %>
      <%= cl_image_tag a.photos[0].path, width: 365, height: 274, crop: :fill %>
      <h3><%= a.genre %> - <%= a.nb_pieces %> pièces</h3>
      <p><%= a.ville %> <%= a.code_postal %></p>
      <%= link_to '', annonce_path(a), class: 'carte-link' %>
    </div>
    <div class="homepage-annonce">
      <% b = @favorite_annonces[1] || b = @annonces[1] %>
      <%= cl_image_tag b.photos[0].path, width: 365, height: 274, crop: :fill %>
      <h3><%= b.genre %> - <%= b.nb_pieces %> pièces</h3>
      <p><%= b.ville %> <%= b.code_postal %></p>
      <%= link_to '', annonce_path(b), class: 'carte-link' %>
    </div>
    <div class="homepage-annonce">
      <% c = @favorite_annonces[2] || c = @annonces[2] %>
      <%= cl_image_tag c.photos[0].path, width: 365, height: 274, crop: :fill %>
      <h3><%= c.genre %> - <%= c.nb_pieces %> pièces</h3>
      <p><%= c.ville %> <%= c.code_postal %></p>
      <%= link_to '', annonce_path(c), class: 'carte-link' %>
    </div>
  </div>
  <div class="value-button">
    <%= link_to "Voir toutes nos offres", annonces_path, class: 'btn btn-primary' %>
  </div>
  <!-- 3ème section - Les annonces immobilières : paragraphe de description -->
</div>
<!-- 3ème section - Les annonces immobilières -->


<!-- 4ème SECTION - FORMULAIRE DE CONTACT -->
<div class="homepage-contact-section">
  <!-- 4ème SECTION - Partie gauche : le formulaire -->
  <div class="homepage-contact-form">
  <div id="homepage-contact-container">
    <!-- 4ème SECTION - Partie gauche : le formulaire // Heading -->
    <div class="section-heading-content">
      <span class="section-subtitle">Contactez-nous</span>
      <span class="line-title section-line-title"></span>
      <h2>Prendre rendez-vous</h2>
      <div class="section-description">
        <p>Créé en 2000, l'office notarial Perraut Pirioux Mevel est animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
      </div>
    </div>
    <!-- 4ème SECTION - Partie gauche : le formulaire // Heading -->

    <!-- 4ème SECTION - Partie gauche // Le formulaire -->
    <div id="homepage-contact-form">
      <%= render 'shared/contact-form', contact: @contact %>
    </div>
    <!-- 4ème SECTION - Partie gauche // Le formulaire -->
    </div>
  </div>
  <!-- 4ème SECTION - Partie gauche : le formulaire -->

  <!-- 4ème SECTION - Partie droite : la photo -->
  <div class="homepage-contact-picture">
    <%= image_tag 'small-contact.jpg' %>
    <div class="section-contact-infos" id="section-contact-infos-mobile">
      <div class="section-contact-header">
        <span class="section-contact-subtitle">Office notarial à Rennes</span>
        <h2>Perraut - Pirioux - Mevel</h2>
      </div>
      <div class="contact-form-infos">
        <div class="row">
          <span class="contact-form-label">Adresse</span>
          <p>7 rue de la Visitation<br>CS 60808<br>35108 RENNES CEDEX 3</p>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <span class="contact-form-label">Téléphone</span>
            <p><i class="fa fa-phone" aria-hidden="true"></i>02 99 67 39 39</p>
            <p><i class="fa fa-fax" aria-hidden="true"></i>02 99 67 34 54</p>
          </div>
          <div class="col s12 m6">
            <span class="contact-form-label">Email</span>
            <p><i class="fa fa-envelope" aria-hidden="true"></i>perraut-pirioux-mevel@notaires.fr</p>
          </div>
        </div>
        <div class="row hide-on-small-only">
          <span class="contact-form-label">Standard</span><p>Ouvert de 9h à 12h et de 14h à 18h (17h le vendredi).<br>Etude fermée le samedi (sauf sur rendez-vous).</p>
        </div>
        <span class="contact-form-label hide-on-small-only">Accès</span>
        <div class="row hide-on-small-only">
          <div class="col s12 m6">
            <p><i class="fa fa-subway" aria-hidden="true"></i>Station Sainte Anne</p>
          </div>
          <div class="col s12 m6">
            <p><i class="fa fa-car" aria-hidden="true"></i>Parking Hoche</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 4ème SECTION - Partie droite : la photo -->
</div>
<!-- 4ème SECTION - FORMULAIRE DE CONTACT -->


<!-- SECTION CONTACT -->
<div class="homepage-section-contact">
  <div id="map-homepage"></div>
  <div class="section-contact-infos">
    <div class="section-contact-container">
      <div class="section-contact-header">
        <span class="section-contact-subtitle">Office notarial à Rennes</span>
        <h2>Perraut - Pirioux - Mevel</h2>
      </div>
      <div class="contact-form-infos">
        <div class="row">
          <span class="contact-form-label">Adresse</span>
          <p>7 rue de la Visitation<br>CS 60808<br>35108 RENNES CEDEX 3</p>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <span class="contact-form-label">Téléphone</span>
            <p><i class="fa fa-phone" aria-hidden="true"></i>02 99 67 39 39</p>
            <p><i class="fa fa-fax" aria-hidden="true"></i>02 99 67 34 54</p>
          </div>
          <div class="col s12 m6">
            <span class="contact-form-label">Email</span>
            <p><i class="fa fa-envelope" aria-hidden="true"></i>perraut-pirioux-mevel@notaires.fr</p>
          </div>
        </div>
        <div class="row">
          <span class="contact-form-label">Standard</span><p>Ouvert de 9h à 12h et de 14h à 18h (17h le vendredi).<br>Etude fermée le samedi (sauf sur rendez-vous).</p>
        </div>
        <span class="contact-form-label">Accès</span>
        <div class="row">
          <div class="col s12 m6">
            <p><i class="fa fa-subway" aria-hidden="true"></i>Station Sainte Anne</p>
          </div>
          <div class="col s12 m6">
            <p><i class="fa fa-car" aria-hidden="true"></i>Parking Hoche</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).on('ready', function() {
      console.log('toto');
      var handler = Gmaps.build('Google');
      var styles = [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]}]
      handler.buildMap({ provider: { scrollwheel: false, styles: styles }, internal: { id: 'map-homepage' } }, function(){
         markers = handler.addMarkers([
            {
              "lat": 48.114403,
              "lng": -1.678775,
              "infowindow": "<h1>Office Perraut - Pirioux - Meve</h1>"
            }
          ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(14);
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
<% end %>
