<div class="container">
  <div class="homepage-header">
    <div class="homepage-header-background"></div>
    <div class="homepage-header-content">
    Site en construction
    <h1>Notaires à Rennes</h1>
    </div>
  </div>
  <div class="homepage-section">
    <p>Créé en 2000, l'office notarial Perraut Pirioux Mevel est  animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
    <%= link_to 'En savoir plus', office_path, class: "btn btn-primary" %>
  </div>
</div>

<!-- SECTION EXPERTISES -->
<div class="homepage-section homepage-steps-orange-bg">
  <h2>Domaines d'expertise</h2>
  <h3>Droit de la famille</h3>
  <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
  <%= link_to 'En savoir plus', famille_path, class: "btn btn-primary" %>
  <h3>Droit immobilier</h3>
  <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
  <%= link_to 'En savoir plus', immobilier_path, class: "btn btn-primary" %>
  <h3>Droit commercial</h3>
  <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
  <%= link_to 'En savoir plus', commercial_path, class: "btn btn-primary" %>
  <h3>Gestion patrimoniale</h3>
  <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
  <%= link_to 'En savoir plus', patrimoine_path, class: "btn btn-primary" %>
</div>

<!-- SECTION BIENS A VENDRE -->
<div class="homepage-section homepage-steps-grey-bg">
  <h2>Biens à vendre</h2>
  <h2>
    <span class="annonce-fleche" id="annonce-precedente"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
    <span class="annonce-fleche" id="annonce-suivante"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
  </h2>
  <div class="homepage-box-annonces">
    <div class="carte-annonce active first-active">
      <div class="carte-annonce-photo" style="background-image: url('assets/photo-test2.png');">
        <p class="carte-annonce-prix">170 000€</p>
      </div>
      <div class="carte-annonce-infos">
        <h5>Maison</h5>
        <p>7 pièces</p>
      </div>
    </div>
    <div class="carte-annonce active second-active">
      <div class="carte-annonce-photo" style="background-image: url('assets/photo-test2.png');">
        <p class="carte-annonce-prix">18 320€</p>
      </div>
      <div class="carte-annonce-infos">
        <h5>Parking</h5>
        <p>1 pièce</p>
      </div>
    </div>
    <div class="carte-annonce active third-active">
      <div class="carte-annonce-photo" style="background-image: url('assets/photo-test2.png');">
        <p class="carte-annonce-prix">65 400€</p>
      </div>
      <div class="carte-annonce-infos">
        <h5>Appartement</h5>
        <p>7 pièces</p>
      </div>
    </div>
    <div class="carte-annonce not-active">
      <div class="carte-annonce-photo" style="background-image: url('assets/photo-test2.png');">
        <p class="carte-annonce-prix">4 000€</p>
      </div>
      <div class="carte-annonce-infos">
        <h5>Parking</h5>
        <p>7 pièces</p>
      </div>
    </div>
    <div class="carte-annonce not-active">
      <div class="carte-annonce-photo" style="background-image: url('assets/photo-test2.png');">
        <p class="carte-annonce-prix">150 000€</p>
      </div>
      <div class="carte-annonce-infos">
        <h5>Maison</h5>
        <p>7 pièces</p>
      </div>
    </div>
    <div class="carte-annonce not-active">
      <div class="carte-annonce-photo" style="background-image: url('assets/photo-test2.png');">
        <p class="carte-annonce-prix">89 000€</p>
      </div>
      <div class="carte-annonce-infos">
        <h5>Maison</h5>
        <p>7 pièces</p>
      </div>
    </div>
  </div>
</div>

<!-- SECTION ACTUS -->
<div class="homepage-section homepage-steps-orange-bg">
  <h2>Actualités</h2>
  <div class="carte-actus">
    <%= image_tag 'image-test1.jpg', class: "carte-actus-photo" %>
    <div class="carte-actus-infos">
      <h3 class="carte-actus-titre">Lettre n° 132 - Décembre 2016</h3>
      <h5 class="carte-actus-titre">Le notaire, acteur du divorce</h5>
      <p>Depuis le 1er janvier 2017, le divorce par consentement mutuel se fera, sauf exception, sans passage devant le juge mais en déposant la convention précisant l'accord des époux chez un notaire...</p>
      <a href="https://www.notaires.fr/fr/relation-presse-notaires/r%C3%A9forme-du-divorce-par-consentement-mutuel-au-1er-janvier", target="_blank", class="btn btn-primary">Consulter la lettre</a>
    </div>
  </div>
</div>

<!-- SECTION CONTACT -->
<div class="homepage-section homepage-steps-grey-bg">
  <div class="carte-contact">
    <div id="map-homepage"></div>
    <div class="carte-contact-infos">
      <h3>Office notarial PERRAUT - PIRIOUX - MEVEL</h3>
      <p>Addresse principale</p>
      <p>7 rue de la visitation</p>
      <p>35 108 RENNES CEDEX 3</p>
      <p><i class="fa fa-phone" aria-hidden="true"></i> 02 99 67  39 39</p>
      <p><i class="fa fa-fax" aria-hidden="true"></i> 02 99 67 34 54</p>
      <p><i class="fa fa-envelope" aria-hidden="true"></i> perraut-pirioux-mevel@notaires.fr</p>
      <p>Standard de 9h à 12h et de 14h à 18h (17h le vendredi</p>
      <p>Etude fermée le samedi (sauf sur rendez-vous)</p>
      <p>Accès</p>
        <p><i class="fa fa-subway" aria-hidden="true"></i> Station Sainte Anne</p>
        <p><i class="fa fa-car" aria-hidden="true"></i> Parking Hoche</p>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).on('ready', function() {
      console.log('toto');
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map-homepage' } }, function(){
         markers = handler.addMarkers([
            {
              "lat": 48.114403,
              "lng": -1.678775,
              "infowindow": "<h1>Office Perraut - Pirioux - Meve</h1>"
            }
          ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(14);
      });
    });
  </script>
<% end %>
