<% content_for :meta_title, "Office Notarial Perraut - Pirioux - Mevel" %>
<% content_for :meta_description, "Office Notarial Perraut - Pirioux - Mevel" %>
<% content_for :meta_image, "https://unsplash.com/?photo=P3pI6xzovu0" %>

<div class="homepage-header">
  <div class="homepage-header-background"></div>
  <div class="homepage-header-content">
  Site en construction
  <h1>Notaires à Rennes</h1>
  </div>
</div>
<div class="homepage-section">
  <div class="row">
    <div class="col s6">
      <div class="section-heading-content">
        <span class="line-title section-line-title"></span>
        <span class="section-subtitle">Présentation</span>
        <h2>Office Notarial Perraut - Pirioux - Mevel</h2>
        <div class="section-description">
          <p>Créé en 2000, l'office notarial Perraut Pirioux Mevel est animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
        </div>
        <%= link_to(office_path) do %>
          <span class="btn-light">En savoir plus  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="homepage-section">
  <div class="homepage-values-container">
    <div class="value-card">
      <div class="value-title">
        <span class="value-first-title">Notre<br>histoire</span>
        <span class="value-number">01.</span>
      </div>
      <div class="value-description">
        <p>Créé en 2000, l'office notarial Perraut Pirioux Mevel est animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
      </div>
    </div>
    <div class="value-card">
      <div class="value-title">
        <span class="value-first-title">Nos<br>valeurs</span>
        <span class="value-number">02.</span>
      </div>
      <div class="value-description">
        <p>Mettre en avant le sérieux, la confiance, etc</p>
      </div>
    </div>
    <div class="value-card">
      <div class="value-title">
        <span class="value-first-title">Notre<br>mission</span>
        <span class="value-number">03.</span>
      </div>
      <div class="value-description">
        <p>Notre mission est de vous conseiller et vous accompagner dans etc etc. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aperiam dolores tempora debitis magni vel officia quasi unde excepturi voluptatum consequuntur, quis, hic illo ea, minus voluptas dolore at corrupti.</p>
      </div>
    </div>
  </div>
  <div class="value-button">
    <%= link_to "Découvrir l'office", office_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="grey-bg">
  <div class="homepage-section">
    <div class="expertise-heading">
      <div class="section-heading-content expertise-section-heading">
        <span class="line-title section-line-title"></span>
        <span class="section-subtitle">Nous sommes là pour vous</span>
        <h2>Nos domaines d'expertise</h2>
        <div class="section-description">
          <p>L'office notarial Perraut Pirioux Mevel est animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
        </div>
      </div>
      <div class="section-heading-button expertise-section-button">
        <%= link_to "Toutes nos expertises", office_path, class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="homepage-expertises-box">
      <div class="homepage-expertise">
        <img src="assets/expertise1.jpg" alt="expertise-droit-de-la-famille">
        <h3>Droit de la famille</h3>
        <p>Acheter un bien immobilier relève souvent du parcours du combattant.Quelles précautions prendre..?</p>
        <div class="expertise-link">
          <%= link_to(famille_path) do %>
            <span class="btn-light">En savoir plus  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
          <% end %>
        </div>
      </div>
      <div class="homepage-expertise">
        <img src="assets/expertise2.jpg" alt="expertise-droit-des-affaires">
        <h3>Droit des affaires</h3>
        <p>Acheter un bien immobilier relève souvent du parcours du combattant.Quelles précautions prendre..?</p>
        <div class="expertise-link">
          <%= link_to(affaires_path) do %>
            <span class="btn-light">En savoir plus  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
          <% end %>
        </div>
      </div>
      <div class="homepage-expertise">
        <img src="assets/expertise3.jpg" alt="expertise-droit-immobilier">
        <h3>Droit immobilier</h3>
        <p>Acheter un bien immobilier relève souvent du parcours du combattant.Quelles précautions prendre..?</p>
        <div class="expertise-link">
          <%= link_to(immobilier_path) do %>
            <span class="btn-light">En savoir plus  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
          <% end %>
        </div>
      </div>
      <div class="homepage-expertise">
        <img src="assets/expertise4.jpg" alt="expertise-promotion-immobiliere">
        <h3>Promotion immobilière</h3>
        <p>Acheter un bien immobilier relève souvent du parcours du combattant.Quelles précautions prendre..?</p>
        <div class="expertise-link">
          <%= link_to(promotion_path) do %>
            <span class="btn-light">En savoir plus  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="homepage-section">
  <div class="immobilier-heading">
    <div class="section-heading-content immobilier-section-heading">
      <span class="line-title section-line-title"></span>
      <span class="section-subtitle">Négociation immobilière</span>
      <h2>Nos annonces immobilières</h2>
      <div class="section-description">
        <p>L'office notarial Perraut Pirioux Mevel est animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
      </div>
    </div>
    <div class="section-heading-button immobilier-section-button">
      <%= link_to "Tous nos biens", annonces_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="homepage-annonces-box">
    <div class="homepage-annonce">
      <img src="assets/expertise1.jpg" alt="expertise-droit-de-la-famille">
      <h3>Maison - 7 pièces</h3>
      <p>Rennes 35000</p>
    </div>
    <div class="homepage-annonce">
      <img src="assets/expertise2.jpg" alt="expertise-droit-des-affaires">
      <h3>Appartement - 2 pièces</h3>
      <p>Rennes 35000</p>
      <div class="annonce-link">
      </div>
    </div>
    <div class="homepage-annonce">
      <img src="assets/expertise3.jpg" alt="expertise-droit-immobilier">
      <h3>Parking - 1 pièce</h3>
      <p>Rennes 35000</p>
      <div class="annonce-link">
      </div>
    </div>
  </div>
</div>

<!-- SECTION FORMULAIRE DE CONTACT -->
<div id="homepage-contact-form-banner">
  <div class="homepage-contact-form">

  </div>
</div>


<!-- SECTION CONTACT -->
<div>
  <div class="homepage-section-contact">
    <div id="map-homepage"></div>
    <div class="section-contact-infos center-align">
      <h2>Office notarial PERRAUT - PIRIOUX - MEVEL</h2>
      <p class="gras">Contact</p>
      <p>7 rue de la visitation</p>
      <p>35 108 RENNES CEDEX 3</p>
      <br>
      <p style="display: inline-block;"><i class="fa fa-phone" aria-hidden="true"></i> 02 99 67  39 39</p>
      <p style="display: inline-block;"><i class="fa fa-fax" aria-hidden="true"></i> 02 99 67 34 54</p>
      <p><i class="fa fa-envelope" aria-hidden="true"></i> perraut-pirioux-mevel@notaires.fr</p>
      <br>
      <p><span class="gras">Standard</span> de 9h à 12h et de 14h à 18h (17h le vendredi</p>
      <p>Etude fermée le samedi (sauf sur rendez-vous)</p>
      <br>
      <p class="gras">Accès</p>
        <p style="display: inline-block;"><i class="fa fa-subway" aria-hidden="true"></i> Station Sainte Anne</p>
        <p style="display: inline-block;"><i class="fa fa-car" aria-hidden="true"></i> Parking Hoche</p>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).on('ready', function() {
      console.log('toto');
      var handler = Gmaps.build('Google');
      var styles = [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]}]
      handler.buildMap({ provider: { scrollwheel: false, styles: styles }, internal: { id: 'map-homepage' } }, function(){
         markers = handler.addMarkers([
            {
              "lat": 48.114403,
              "lng": -1.678775,
              "infowindow": "<h1>Office Perraut - Pirioux - Meve</h1>"
            }
          ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(14);
      });
    });
  </script>
<% end %>
