<div class="container">
  <h1>Home Page</h1>
  <p>En construction</p>
  <ul>
    <li><%= link_to "l'office", office_path %></li>
    <li><%= link_to "expertises", expertises_path %></li>
    <li><%= link_to "droit de la famille", famille_path %></li>
    <li><%= link_to "mariage", mariage_path %></li>
    <li><%= link_to "pacs", pacs_path %></li>
    <li><%= link_to "donation", donation_path %></li>
    <li><%= link_to "droit immobilier", immobilier_path %></li>
    <li><%= link_to "droit commercial", commercial_path %></li>
    <li><%= link_to "gestion patrimoniale", patrimoine_path %></li>
    <li><%= link_to "actualités", actualites_path %></li>
  </ul>
</div>
