<!-- Les meta tags -->
<% content_for :meta_title, "Droit immobilier - Notaires à Rennes | Perraut Pirioux Mevel" %>
<% content_for :meta_description, "Les trois notaires de l'office et une vingtaine de collaborateurs sont à votre écoute et interviennent en droit immobilier (achat immobilier, vente immobilière)." %>
<% content_for :meta_image, "https://unsplash.com/?photo=P3pI6xzovu0" %>
<!-- Les meta tags -->

<div class="page-banner" id="immobilier-banner">
  <div class="page-banner-header left">
    <span class="page-banner-subtitle">Expertise</span>
    <h1>Droit immobilier</h1>
  </div>
</div>

<!-- Navigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Expertises</span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Droit immobilier</span>
    </div>
  </div>
</div>
<!-- Navigation -->

<!-- Section d'introduction -->
<div class="page-section">
  <div class="row">
    <div class="col s12 m8 l6">
      <div class="section-heading-content">
        <span class="section-subtitle">Expertise</span>
        <span class="line-title section-line-title"></span>
        <h2>Droit immobilier</h2>
        <div class="section-description">
          <p>Créé en 2000, l'office notarial Perraut Pirioux Mevel est animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Section d'introduction -->

<!-- 1ERE SECTION -->
<div class="grey-bg">
  <div class="page-section">
    <!-- achat immobilier -->
    <div class="expertise-box">
      <div class="row">
        <div class="col s12 l5">
          <div class="expertise-redirection-card white-redirection-card">
            <%= link_to '', acheter_path, class: 'expertise-redirection-card-link' %>
            <span class="line-title expertise-redirection-card-line-title"></span>
            <p>Domaine 1</p>
            <div class="expertise-redirection-card-header">
              <div class="expertise-redirection-card-title">Achat immobilier</div>
              <span class="expertise-redirection-card-icon"><%= image_tag 'icone-achat.png' %></span>
            </div>
            <p class="expertise-redirection-card-description">L'achat immobilier est un moment important, blabla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam maiores accusantium eveniet provident odio, nemo repudiandae cumque praesentium, dolorum fuga magni eaque magnam. Dolore quos harum, neque porro voluptates aut.</p>
          </div>
        </div>
        <!-- vente immobilière -->
        <div class="col s12 l5 offset-l2">
          <div class="expertise-redirection-card white-redirection-card">
            <%= link_to '', vendre_path, class: 'expertise-redirection-card-link' %>
            <span class="line-title expertise-redirection-card-line-title"></span>
            <p>Domaine 2</p>
            <div class="expertise-redirection-card-header">
              <div class="expertise-redirection-card-title">Vente immobilière</div>
              <span class="expertise-redirection-card-icon"><%= image_tag 'icone-vente.png' %></span>
            </div>
            <p class="expertise-redirection-card-description">Vendre un bien, blabla Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium facilis eveniet illo, excepturi architecto itaque numquam assumenda ipsum, et dolore suscipit perferendis, nam optio totam illum magni dolores veritatis consequuntur?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 1ERE SECTION -->

<!-- Bouton Contact -->
<div id="contact-link">
  <div class="contact-link-content">
    <span class="contact-link-icon valign-wrapper"><i class="material-icons valign">email</i></span>
    <span class="contact-link-text">Contactez-nous</span>
    <%= link_to '', contact_path, class: 'carte-link' %>
  </div>
</div>
<!-- Bouton Contact -->

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="expertises"]').addClass('active');
      var contactLinkPosition = $('#contact-link').offset().top;
      $(window).scroll(function(){
        $("#contact-link").css("top", Math.max(80, contactLinkPosition - $(this).scrollTop()));
      });
    });
  </script>
<% end %>
