<!-- Les meta tags -->
<% content_for :meta_title, "Notaires Rennes - Office Perraut Pirioux Mével" %>
<% content_for :meta_description, "Notre office notarial est une étude généraliste avec des savoir-faire spécialisés. Composée de trois notaires et d’une vingtaine de collaborateurs, sa taille humaine permet un véritable travail d’équipe aussi bien au niveau des collaborateurs que des notaires eux-mêmes." %>
<!-- Les meta tags -->

<!-- Bannière -->
<div class="page-banner" id="office-banner">
  <div class="page-banner-header left">
    <span class="page-banner-subtitle">Office notarial à Rennes</span>
    <h1>Perraut - Pirioux - Mével</h1>
  </div>
</div>
<!-- Bannière -->

<!-- Subnavigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Office</span>
    </div>
  </div>
</div>
<!-- Subnavigation -->

<!-- 1ère section - Les valeurs : paragraphe d'introduction -->
<div class="page-section">
  <div class="row">
    <div class="col s12 m8 l6">
      <div class="section-heading-content">
        <span class="section-subtitle">Présentation</span>
        <span class="line-title section-line-title"></span>
        <h2>NOS VALEURS</h2>
        <div class="section-description">
          <p>Notre étude est une étude généraliste avec des savoir-faire spécialisés. Composée de trois notaires et d’une vingtaine de collaborateurs, sa taille humaine permet un véritable travail d’équipe aussi bien au niveau des collaborateurs que des notaires eux-mêmes.</p>
          <p>Votre dossier est suivi par un notaire et une équipe dédiée, en fonction des domaines de compétence requis et de la disponibilité de chacun.</p>
          <p>C’est ainsi que nous vous apporterons notre valeur ajoutée : force d’analyse et de proposition stratégique avec une volonté largement affirmée : la satisfaction de nos clients !</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-section">
  <div class="office-values-container">
    <div class="row">
      <div class="col s12 m4">
        <div class="value-card">
          <div class="value-title">
            <h3 class="value-first-title">Sérieux</h3>
          </div>
          <div class="value-description">
            <p>Rompus aux techniques juridiques simples et complexes, notre Office a mis en place dès 2002 une méthodologie organisationnelle claire, parfaitement comprise et appliquée par tous les membres de l’équipe.</p>
            <p>Son but est de nous aider à apporter à nos clients la qualité et la sérénité juridique qu’ils attendent : parfaite rédaction des actes, pertinences des conseils juridiques et des analyses fiscales proposées font la réputation tangible de notre office.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="value-card">
          <div class="value-title">
            <h3 class="value-first-title">Confiance</h3>
          </div>
          <div class="value-description">
            <p>Les savoir-faire ne sont pas tout. La qualité de la relation client est essentielle : accueil, écoute, analyse prospective, temps de réflexion, justesse des solutions et des stratégies proposées : c’est ainsi que nait la confiance entre le client et son notaire grâce à une équipe à taille humaine qui partage les mêmes valeurs.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="value-card">
          <div class="value-title">
            <h3 class="value-first-title">Réactivité</h3>
          </div>
          <div class="value-description">
            <p>Qualité des prescriptions proposées, qualité de la relation humaine mais aussi réactivité face à vos questions et vos projets par une excellente maitrise des nouveaux moyens de communication et d’échange, c’est ce que vous propose notre office pour vous assurer la meilleure rapidité de traitement de vos dossiers.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 1ère section - Les valeurs : paragraphe d'introduction -->


<!-- 2ème section - Les notaires : background de couleur -->
<div class="grey-bg">
  <div class="page-section">
    <!-- 2ème section - Les notaires : paragraphe d'introduction -->
    <div class="office-heading">
      <div class="section-heading-content office-section-heading">
        <span class="section-subtitle">Trois notaires</span>
        <span class="line-title section-line-title"></span>
        <h2>Rencontrez-nous</h2>
        <div class="section-description">
          <p>Maîtres Loïc PERRAUT, Jean-Charles PIRIOUX et Céline MEVEL accompagnent leur clients toujours plus à chaque étape de leur parcours privé et professionnel. Ils mettent à leur disposition des équipes de spécialistes qui apporteront leurs compétences en droit immobilier, droit des affaires, droit de la famille, gestion de patrimoine, négociation et expertise immobilière.</p>
        </div>
      </div>
    </div>
    <!-- 2ème section - Les notaires : paragraphe d'introduction -->

    <!-- 2ème section - Les notaires : paragraphe de description -->
      <div class="team-content">
        <div class="row">
          <div class="col s12 m4">
            <div class="team-member">
              <ul class="collapsible popout" data-collapsible="accordion">
              <li>
                <div class="collapsible-header"><i class="material-icons">add</i>Loïc Perraut</div>
                <div class="collapsible-body">
                  <h6>Diplôme</h6>
                  <p>Diplôme Supérieur du Notariat</p>
                  <h6>Particularités</h6>
                  <p>Avant d’être notaire associé à l’étude en 1988, il a été collaborateur d’une des plus importantes études parisiennes.</p>
                  <h6>Domaines de compétences particuliers</h6>
                  <p>Promotion immobilière</p>
                  <p>Immobilier complexe</p>
                  <p>Droit public</p>
                  <p>Droit des associations</p>
                  <h6>Email</h6>
                  <p>loic.perraut@notaires.fr</p>
                </div>
              </li>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="team-member">
              <ul class="collapsible popout" data-collapsible="accordion">
              <li>
                <div class="collapsible-header"><i class="material-icons">add</i>Céline Mével</div>
                <div class="collapsible-body">
                  <h6>Diplôme</h6>
                  <p>Diplôme Supérieur du Notariat</p>
                  <p>DU Gestion du Patrimoine (AUREP)</p>
                  <p>Notaire juriste d’entreprise</p>
                  <h6>Particularités</h6>
                  <p>Avant de rejoindre l’étude en 2015 et d’y être nommée Notaire associée, elle a travaillé pour un grand groupe immobilier spécialisé dans la transaction de fonds de commerce.</p>
                  <h6>Domaines de compétences particuliers</h6>
                  <p>Droit des affaires</p>
                  <p>Droit des Sociétés</p>
                  <p>Gestion de patrimoine</p>
                  <h6>Email</h6>
                  <p>celine.mevel@notaires.fr</p>
                </div>
              </li>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="team-member">
              <ul class="collapsible popout" data-collapsible="accordion">
              <li>
                <div class="collapsible-header"><i class="material-icons">add</i>Jean-Charles Pirioux</div>
                <div class="collapsible-body">
                  <h6>Diplôme</h6>
                  <p>Diplôme Supérieur du Notariat</p>
                  <h6>Particularités</h6>
                  <p>Avant d’être notaire associé à l’étude en 1992, il y a été collaborateur depuis 1980. Il a été enseignant à l’institut des métiers du notariat pendant plus de 20 ans.</p>
                  <h6>Domaines de compétences particuliers</h6>
                  <p>Droit de la famille</p>
                  <p>Gestion de patrimoine</p>
                  <h6>Email</h6>
                  <p>jean-charles.pirioux@notaires.fr</p>
                </div>
              </li>
            </div>
          </div>
        </div>
      </div>
    <!-- 2ème section - Les notaires : paragraphe de description -->
  </div>
</div>
<!-- 2ème section - Les notaires : background de couleur -->



<!-- 3ème section - Le reste de l'équipe - TEST-->
<div class="page-section">
  <!-- 3ème section - Le reste de l'équipe : paragraphe d'introduction -->
  <div class="office-heading">
    <div class="section-heading-content office-section-heading">
      <span class="section-subtitle">Toute l'équipe</span>
      <span class="line-title section-line-title"></span>
      <h2>Une équipe dédiée</h2>
      <div class="section-description">
        <p>L'office Notarial est composé de plusieurs services afin de vous assister dans tous vos projets.</p>
      </div>
    </div>
  </div>
</div>
<div id="whole-team-banner">
</div>

<div class="page-section">
  <!-- Equipe - Les tabs -->
  <ul id="tabs-swipe-demo" class="tabs center-align">
    <li class="tab"><a class="active" href="#test-swipe-1">Tous</a></li>
    <li class="tab"><a href="#test-swipe-2">Promotion immobilière</a></li>
    <li class="tab"><a href="#test-swipe-3">Droit de la famille</a></li>
    <li class="tab"><a href="#test-swipe-4">Droit des affaires</a></li>
    <li class="tab"><a href="#test-swipe-5">Droit immobilier</a></li>
    <li class="tab"><a href="#test-swipe-6">Comptabilité</a></li>
    <li class="tab"><a href="#test-swipe-7">Négociation immobilière</a></li>
  </ul>
  <div id="test-swipe-1">
    <div class="row">
      <%= render 'shared/team-contact', nom_collaborateur: "Vanessa Pette", position_collaborateur: "Clerc de notaire - Promotion immobilière", email_collaborateur: "vanessa.pette.35009@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Ronan Trassin", position_collaborateur: "Notaire assistant - Promotion immobilière", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Justine Poulain", position_collaborateur: "Assistante - Promotion immobilière", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Magali Poirier-Gautron", position_collaborateur: "Clerc de notaire - Droit de la famille", email_collaborateur: "magali.poirier.35009@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Karine Martin", position_collaborateur: "Clerc de notaire - Droit de la famille", email_collaborateur: "karine.martin.35009@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Stéphanie Piégué", position_collaborateur: "Assistante - Droit de la famille", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Stéphane Gautier", position_collaborateur: "Clerc de notaire - Droit immobilier", email_collaborateur: "stephane.gautier.35009@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Antoine de Lafforest", position_collaborateur: "Notaire stagiaire - Droit immobilier", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Edith Savenay-Renaud", position_collaborateur: "Clerc de notaire - Droit immobilier", email_collaborateur: "edith.savenay.35009@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Sylvie Hamon", position_collaborateur: "Assistante - Droit immobilier", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Amélie Robert", position_collaborateur: "Clerc de notaire - Droit immobilier", email_collaborateur: "amelie.robert.35009@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Pauline Bodolec", position_collaborateur: "Assistante - Droit immobilier", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Laetitia Le Gall", position_collaborateur: "Assistante - Droit immobilier", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Gaetan Fouché", position_collaborateur: "Notaire stagiaire - Droit immobilier", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Brigitte Saint-Hilaire", position_collaborateur: "Clerc de notaire - Droit immobilier", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Valérie Petithomme", position_collaborateur: "Droit immobilier", email_collaborateur: "valerie.petithomme.35009@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Adélaïde Robillard", position_collaborateur: "Comptable - Comptabilité", email_collaborateur: "adelaide.robillard.35009@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Françoise Gouriou", position_collaborateur: "Comptable - Comptabilité", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Audrey Gallissiaz", position_collaborateur: "Accueil", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Charles Deplagne", position_collaborateur: "Négociateur - Négociation immobilière", email_collaborateur: "charles.deplagne.35009@notaires.fr" %>
    </div>
  </div>
  <div id="test-swipe-2">
    <div class="row">
      <%= render 'shared/team-contact', nom_collaborateur: "Vanessa Pette", position_collaborateur: "Clerc de notaire - Promotion immobilière", email_collaborateur: "vanessa.pette.35009@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Ronan Trassin", position_collaborateur: "Notaire assistant - Promotion immobilière", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Justine Poulain", position_collaborateur: "Assistante - Promotion immobilière", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
    </div>
  </div>
  <div id="test-swipe-3">
    <div class="row">
      <%= render 'shared/team-contact', nom_collaborateur: "Magali Poirier-Gautron", position_collaborateur: "Clerc de notaire - Droit de la famille", email_collaborateur: "magali.poirier.35009@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Karine Martin", position_collaborateur: "Clerc de notaire - Droit de la famille", email_collaborateur: "karine.martin.35009@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Stéphanie Piégué", position_collaborateur: "Assistante - Droit de la famille", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
    </div>
  </div>
  <div id="test-swipe-4">
    <div class="row">
      <%= render 'shared/team-contact', nom_collaborateur: "Stéphane Gautier", position_collaborateur: "Clerc de notaire - Droit immobilier", email_collaborateur: "stephane.gautier.35009@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Antoine de Lafforest", position_collaborateur: "Notaire stagiaire - Droit immobilier", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
    </div>
  </div>
  <div id="test-swipe-5">
    <div class="row">
      <%= render 'shared/team-contact', nom_collaborateur: "Stéphane Gautier", position_collaborateur: "Clerc de notaire - Droit immobilier", email_collaborateur: "stephane.gautier.35009@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Antoine de Lafforest", position_collaborateur: "Notaire stagiaire - Droit immobilier", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Edith Savenay-Renaud", position_collaborateur: "Clerc de notaire - Droit immobilier", email_collaborateur: "edith.savenay.35009@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Sylvie Hamon", position_collaborateur: "Assistante - Droit immobilier", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Amélie Robert", position_collaborateur: "Clerc de notaire - Droit immobilier", email_collaborateur: "amelie.robert.35009@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Pauline Bodolec", position_collaborateur: "Assistante - Droit immobilier", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Laetitia Le Gall", position_collaborateur: "Assistante - Droit immobilier", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Gaetan Fouché", position_collaborateur: "Notaire stagiaire - Droit immobilier", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Brigitte Saint-Hilaire", position_collaborateur: "Clerc de notaire - Droit immobilier", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Valérie Petithomme", position_collaborateur: "Droit immobilier", email_collaborateur: "valerie.petithomme.35009@notaires.fr" %>
    </div>
  </div>
  <div id="test-swipe-6">
    <div class="row">
      <%= render 'shared/team-contact', nom_collaborateur: "Adélaïde Robillard", position_collaborateur: "Comptable - Comptabilité", email_collaborateur: "adelaide.robillard.35009@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Françoise Gouriou", position_collaborateur: "Comptable - Comptabilité", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
      <%= render 'shared/team-contact', nom_collaborateur: "Audrey Gallissiaz", position_collaborateur: "Accueil", email_collaborateur: "perraut-pirioux-mevel@notaires.fr" %>
    </div>
  </div>
  <div id="test-swipe-7">
    <div class="row">
      <%= render 'shared/team-contact', nom_collaborateur: "Charles Deplagne", position_collaborateur: "Négociateur - Négociation immobilière", email_collaborateur: "charles.deplagne.35009@notaires.fr" %>
    </div>
  </div>
</div>

<div class="page-section">
  <!-- 3ème section - Le reste de l'équipe : paragraphe d'introduction -->
  <div class="office-heading">
    <div class="section-heading-content">
      <span class="section-subtitle">VISIO - CONFERENCE</span>
      <span class="line-title section-line-title"></span>
      <div class="section-description">
        <p style="margin-top: 0; margin-bottom: 1rem">L'office Notarial Perraut - Pirioux - Mével s'est doté de la visio-conférence pour vous accompagner dans vos démarches.</p>
      </div>
      <%= image_tag 'logo-visio-conference.png', class: 'logo-visio-conference' %>
    </div>
  </div>
</div>

<div class="contacter-office-btn center-align">
  <%= link_to "Contacter l'office", contact_path, class: 'btn btn-primary' %>
</div>

<!-- Bouton Contact -->
<%= render 'shared/contact-link' %>
<!-- Bouton Contact -->

<!-- Ligne de démarcation avec le footer // vieille version -->
<!-- <div class="footer-whitespace">
  <span class="footer-line"></span>
</div> -->

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      console.log('toto');
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="office"]').addClass('active');
      var contactLinkPosition = $('#contact-link').offset().top;
      $(window).scroll(function(){
        $("#contact-link").css("top", Math.max(80, contactLinkPosition - $(this).scrollTop()));
      });
    });
  </script>
<% end %>
