<!-- Les meta tags -->
<% content_for :meta_title, "Office Notarial à Rennes - Notaires Perraut Pirioux Mével" %>
<% content_for :meta_description, "Trois notaires et une vingtaine de collaborateurs sont à votre écoute et vous accompagnent dans vos démarches (droit de la famille, succession, promotion immobilière, etc)." %>
<% content_for :meta_image, "https://unsplash.com/?photo=P3pI6xzovu0" %>
<!-- Les meta tags -->

<!-- Bannière -->
<div class="page-banner" id="office-banner">
  <div class="page-banner-header left">
    <span class="page-banner-subtitle">Office notarial à Rennes</span>
    <h1>Perraut - Pirioux - Mével</h1>
  </div>
</div>
<!-- Bannière -->

<!-- Subnavigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Office</span>
    </div>
  </div>
</div>
<!-- Subnavigation -->

<!-- 1ère section - Les valeurs : paragraphe d'introduction -->
<div class="page-section">
  <div class="row">
    <div class="col s12 m8 l6">
      <div class="section-heading-content">
        <span class="section-subtitle">Présentation</span>
        <span class="line-title section-line-title"></span>
        <h2>NOS VALEURS</h2>
        <div class="section-description">
          <p>Notre étude est une étude généraliste avec des savoir-faire spécialisés. Composée de trois notaires et d’une vingtaine de collaborateurs, sa taille humaine permet un véritable travail d’équipe aussi bien au niveau des collaborateurs que des notaires eux-mêmes.</p>
          <p>Votre dossier est suivi par un notaire et une équipe dédiée, en fonction des domaines de compétence requis et de la disponibilité de chacun.</p>
          <p>C’est ainsi que nous vous apporterons notre valeur ajoutée : force d’analyse et de proposition stratégique avec une volonté largement affirmée : la satisfaction de nos clients !</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-section">
  <div class="office-values-container">
    <div class="row">
      <div class="col s12 m4">
        <div class="value-card">
          <div class="value-title">
            <h3 class="value-first-title">Sérieux</h3>
          </div>
          <div class="value-description">
            <p>Rompus aux techniques juridiques simples et complexes, notre Office a mis en place dès 2002 une méthodologie organisationnelle claire, parfaitement comprise et appliquée par tous les membres de l’équipe.</p>
            <p>Son but est de nous aider à apporter à nos clients la qualité et la sérénité juridique qu’ils attendent : parfaite rédaction des actes, pertinences des conseils juridiques et des analyses fiscales proposées font la réputation tangible de notre office.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="value-card">
          <div class="value-title">
            <h3 class="value-first-title">Confiance</h3>
          </div>
          <div class="value-description">
            <p>Les savoir-faire ne sont pas tout. La qualité de la relation client est essentielle : accueil, écoute, analyse prospective, temps de réflexion, justesse des solutions et des stratégies proposées : c’est ainsi que nait la confiance entre le client et son notaire grâce à une équipe à taille humaine qui partage les mêmes valeurs.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="value-card">
          <div class="value-title">
            <h3 class="value-first-title">Réactivité</h3>
          </div>
          <div class="value-description">
            <p>Qualité des productions /prescriptions proposées, qualité de la relation humaine mais aussi réactivité face à vos questions et vos projets par une excellente maitrise des nouveaux moyens de communication et d’échange, c’est ce que vous propose notre office pour vous assurer la meilleure rapidité de traitement de vos dossiers.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 1ère section - Les valeurs : paragraphe d'introduction -->


<!-- 2ème section - Les notaires : background de couleur -->
<div class="grey-bg">
  <div class="page-section">
    <!-- 2ème section - Les notaires : paragraphe d'introduction -->
    <div class="office-heading">
      <div class="section-heading-content office-section-heading">
        <span class="section-subtitle">Trois notaires</span>
        <span class="line-title section-line-title"></span>
        <h2>Rencontrez-nous</h2>
        <div class="section-description">
          <p>Maîtres Loïc PERRAUT, Jean-Charles PIRIOUX et Céline MEVEL accompagnent leur clients toujours plus à chaque étape de leur parcours privé et professionnel. Ils mettent à leur disposition des équipes de spécialistes qui apporteront leurs compétences en droit immobilier, droit des affaires, droit de la famille, gestion de patrimoine, négociation et expertise immobilière.</p>
        </div>
      </div>
    </div>
    <!-- 2ème section - Les notaires : paragraphe d'introduction -->

    <!-- 2ème section - Les notaires : paragraphe de description -->
      <div class="team-content">
        <div class="row">
          <div class="col s12 m4">
            <div class="team-member">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <%= image_tag('photo1.jpg', class: 'activator') %>
                </div>
                <div class="card-content activator">
                  <span class="card-title activator">
                    Loïc Perraut
                  </span>
                  <div class="card-btn">
                    <i class="material-icons">add</i>
                  </div>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Loïc Perraut<i class="material-icons right">close</i></span>
                  <h6>Diplôme</h6>
                  <p>Diplôme Supérieur du Notariat</p>
                  <h6>Particularités</h6>
                  <p>Avant d’être notaire associé à l’étude en 1988, il a été collaborateur d’une des plus importantes études parisiennes.</p>
                  <h6>Domaines de compétences particuliers</h6>
                  <p>Promotion immobilière</p>
                  <p>Immobilier complexe</p>
                  <p>Droit public</p>
                  <p>Droit des associations</p>
                  <h6>Email</h6>
                  <p>loic.perraut@notaires.fr</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="team-member">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <%= image_tag('photo2.jpg', class: 'activator') %>
                </div>
                <div class="card-content activator">
                  <span class="card-title activator">
                    Céline Mével
                  </span>
                  <div class="card-btn">
                    <i class="material-icons">add</i>
                  </div>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Céline Mével<i class="material-icons right">close</i></span>
                  <h6>Diplôme</h6>
                  <p>Diplôme Supérieur du Notariat</p>
                  <p>DU Gestion du Patrimoine (AUREP)</p>
                  <h6>Particularités</h6>
                  <p>Avant de rejoindre l’étude en 2015 et d’y être nommé Notaire associé, elle a travaillé pour un grand groupe immobilier spécialisé dans la transaction de fonds de commerce.</p>
                  <h6>Domaines de compétences particuliers</h6>
                  <p>Droit des affaires</p>
                  <p>Droit des Sociétés</p>
                  <p>Gestion de patrimoine</p>
                  <h6>Email</h6>
                  <p>celine.mevel@notaires.fr</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="team-member">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <%= image_tag('photo3.jpg', class: 'activator') %>
                </div>
                <div class="card-content activator">
                  <span class="card-title activator">
                    Jean-Charles Pirioux
                  </span>
                  <div class="card-btn">
                    <i class="material-icons">add</i>
                  </div>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Jean-Charles Pirioux<i class="material-icons right">close</i></span>
                  <h6>Diplôme</h6>
                  <p>Diplôme Supérieur du Notariat</p>
                  <h6>Particularités</h6>
                  <p>Avant d’être notaire associé à l’étude en 1992, il y a été collaborateur depuis 1980. Il a été enseignant à l’institut des métiers du notariat pendant plus de 20 ans.</p>
                  <h6>Domaines de compétences particuliers</h6>
                  <p>Droit de la famille</p>
                  <p>Gestion de patrimoine</p>
                  <h6>Email</h6>
                  <p>jean-charles.pirioux@notaires.fr</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- 2ème section - Les notaires : paragraphe de description -->
  </div>
</div>
<!-- 2ème section - Les notaires : background de couleur -->



<!-- 3ème section - Le reste de l'équipe - TEST-->
<div class="page-section">
  <!-- 3ème section - Le reste de l'équipe : paragraphe d'introduction -->
  <div class="office-heading">
    <div class="section-heading-content office-section-heading">
      <span class="section-subtitle">Toute l'équipe</span>
      <span class="line-title section-line-title"></span>
      <h2>Une équipe dédiée</h2>
      <div class="section-description">
        <p>L'office Notarial est composé de plusieurs services afin de vous assister dans tous vos projets.</p>
      </div>
    </div>
  </div>
</div>
<%= image_tag('banner-famille.jpg', class: 'team-picture') %>

<!-- Equipe - Les tabs -->
<ul id="tabs-swipe-demo" class="tabs">
  <li class="tab col s1"><a href="#test-swipe-1">Tous</a></li>
  <li class="tab col s1"><a class="active" href="#test-swipe-2">Promotion immobilière</a></li>
  <li class="tab col s1"><a href="#test-swipe-3">Droit de la famille</a></li>
  <li class="tab col s1"><a href="#test-swipe-4">Droit des affaires</a></li>
  <li class="tab col s1"><a href="#test-swipe-5">Droit immobilier</a></li>
  <li class="tab col s1"><a href="#test-swipe-6">Comptabilité - Formalités</a></li>
  <li class="tab col s1"><a href="#test-swipe-7">Négociation immobilière</a></li>
</ul>
<div id="test-swipe-1" class="col s12 blue">
  <p>Vanessa Pette</p>
  <p>Ronan Trassin</p>
  <p>Justine Poulain</p>
  <p>Magali Poirier</p>
  <p>Karine Martin</p>
  <p>Stéphanie Piégué</p>
  <p>Stéphane Gautier</p>
  <p>Antoine de Lafforest</p>
  <p>Edith Savenay</p>
  <p>Sylvie Hamon</p>
  <p>Amélie Robert</p>
  <p>Pauline Bodolec</p>
  <p>Laëtitia Le Gall</p>
  <p>Gaëtan Fouché</p>
  <p>Brigitte Saint-Hilaire</p>
  <p>Adélaïde Robillard</p>
  <p>Françoise Gouriou</p>
  <p>Valérie Petithomme</p>
  <p>Charles Deplagne</p>
</div>
<div id="test-swipe-2" class="col s12 red">Promotion immobilière</div>
<div id="test-swipe-3" class="col s12 green">Droit de la famille</div>
<div id="test-swipe-4" class="col s12 green">Droit des affaires</div>
<div id="test-swipe-5" class="col s12 green">Droit immobilier</div>
<div id="test-swipe-6" class="col s12 green">Comptabilité - Formalités</div>
<div id="test-swipe-7" class="col s12 green">Négociation immobilière</div>



<!-- 3ème section - Le reste de l'équipe -->
<div class="page-section">
  <!-- 3ème section - Le reste de l'équipe : paragraphe d'introduction -->
  <div class="office-heading">
    <div class="section-heading-content office-section-heading">
      <span class="section-subtitle">Toute l'équipe</span>
      <span class="line-title section-line-title"></span>
      <h2>Une équipe dédiée</h2>
      <div class="section-description">
        <p>L'office Notarial est composé de plusieurs services afin de vous assister dans tous vos projets.</p>
      </div>
    </div>
  </div>
  <!-- 3ème section - Le reste de l'équipe : paragraphe d'introduction -->

  <!-- 3ème section - Le reste de l'équipe : paragraphe de description -->
  <div class="equipe-section-cartes">
    <div class="row">
      <div class="col s12 m3">
        <div class="carte-departement">
          <%= image_tag 'icone-promotion.png' %>
          <span class="line-title departement-line"></span>
          <h3>Promotion immobilière</h3>
          <p>Vanessa Pette</p>
          <p>Ronan Trassin</p>
          <p>Justine Poulain</p>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="carte-departement">
          <%= image_tag 'icone-famille.png' %>
          <span class="line-title departement-line"></span>
          <h3>Droit de la famille</h3>
          <p>Magali Poirier</p>
          <p>Karine Martin</p>
          <p>Stéphanie Piégué</p>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="carte-departement">
          <%= image_tag 'icone-affaires.png' %>
          <span class="line-title departement-line"></span>
          <h3>Droit des affaires</h3>
          <p>Stéphane Gautier</p>
          <p>Antoine de Lafforest</p>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="carte-departement">
          <%= image_tag 'icone-immobilier.png' %>
          <span class="line-title departement-line"></span>
          <h3>Droit immobilier</h3>
          <p>Stéphane Gautier</p>
          <p>Antoine de Lafforest</p>
          <p>Edith Savenay</p>
          <p>Sylvie Hamon</p>
          <p>Amélie Robert</p>
          <p>Pauline Bodolec</p>
          <p>Laëtitia Le Gall</p>
          <p>Gaëtan Fouché</p>
          <p>Brigitte Saint-Hilaire</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m3">
        <div class="carte-departement">
          <%= image_tag 'icone-compta.png' %>
          <span class="line-title departement-line"></span>
          <h3>Comptabilité - Formalités</h3>
          <p>Adélaïde Robillard</p>
          <p>Françoise Gouriou</p>
          <p>Valérie Petithomme</p>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="carte-departement">
          <%= image_tag 'icone-negociation.png' %>
          <span class="line-title departement-line"></span>
          <h3>Négociation immobilière</h3>
          <p>Charles Deplagne</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 3ème section - Le reste de l'équipe : paragraphe de description -->
  <div class="value-button">
    <%= link_to "Contacter l'office", contact_path, class: 'btn btn-primary' %>
  </div>
</div>
<!-- 3ème section - Le reste de l'équipe -->







<!-- Bouton Contact -->
<%= render 'shared/contact-link' %>
<!-- Bouton Contact -->

<!-- Ligne de démarcation avec le footer // vieille version -->
<!-- <div class="footer-whitespace">
  <span class="footer-line"></span>
</div> -->

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      console.log('toto');
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="office"]').addClass('active');
      var contactLinkPosition = $('#contact-link').offset().top;
      $(window).scroll(function(){
        $("#contact-link").css("top", Math.max(80, contactLinkPosition - $(this).scrollTop()));
      });
    });
  </script>
<% end %>
