<!-- Les meta tags -->
<% content_for :meta_title, "Office Notarial à Rennes - Notaires Perraut Pirioux Mével" %>
<% content_for :meta_description, "Trois notaires et une vingtaine de collaborateurs sont à votre écoute et vous accompagnent dans vos démarches (droit de la famille, succession, promotion immobilière, etc)." %>
<% content_for :meta_image, "https://unsplash.com/?photo=P3pI6xzovu0" %>
<!-- Les meta tags -->

<!-- Bannière -->
<div class="page-banner" id="office-banner">
  <div class="page-banner-header left">
    <span class="page-banner-subtitle">Office notarial à Rennes</span>
    <h1>Perraut - Pirioux - Mével</h1>
  </div>
</div>
<!-- Bannière -->

<!-- Subnavigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Office</span>
    </div>
  </div>
</div>
<!-- Subnavigation -->

<!-- 1ère section - Les valeurs : paragraphe d'introduction -->
<div class="page-section">
  <div class="row">
    <div class="col s12 m8 l6">
      <div class="section-heading-content">
        <span class="section-subtitle">Présentation</span>
        <span class="line-title section-line-title"></span>
        <h2>NOS VALEURS</h2>
        <div class="section-description">
          <p>Créé en 2000, l'office notarial Perraut Pirioux Mével est animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-section">
  <div class="office-values-container">
    <div class="row">
      <div class="col s12 m4">
        <div class="value-card">
          <div class="value-title">
            <h3 class="value-first-title">Confiance</h3>
          </div>
          <div class="value-description">
            <p>Créé en 2000, l'office notarial Perraut Pirioux Mével est animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="value-card">
          <div class="value-title">
            <h3 class="value-first-title">Serieux</h3>
          </div>
          <div class="value-description">
            <p>Créé en 2000, l'office notarial Perraut Pirioux Mével est animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="value-card">
          <div class="value-title">
            <h3 class="value-first-title">Réactivité</h3>
          </div>
          <div class="value-description">
            <p>Créé en 2000, l'office notarial Perraut Pirioux Mével est animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 1ère section - Les valeurs : paragraphe d'introduction -->


<!-- 2ème section - Les notaires : background de couleur -->
<div class="grey-bg">
  <div class="page-section">
    <!-- 2ème section - Les notaires : paragraphe d'introduction -->
    <div class="office-heading">
      <div class="section-heading-content office-section-heading">
        <span class="section-subtitle">Trois notaires</span>
        <span class="line-title section-line-title"></span>
        <h2>Rencontrez-nous</h2>
        <div class="section-description">
          <p>Trois notaires sont à votre écoute dans les domaines suivants : blablabla. Ils travaillent depuis 20 ans à vous accomapgner du mieux possible etc etc.</p>
        </div>
      </div>
    </div>
    <!-- 2ème section - Les notaires : paragraphe d'introduction -->

    <!-- 2ème section - Les notaires : paragraphe de description -->
      <div class="team-content">
        <div class="row">
          <div class="col s12 m4">
            <div class="team-member">
              <div class="carte-equipe">
                <div class="carte-equipe-photo">
                  <%= image_tag 'photo1.jpg' %>
                </div>
                <div class="carte-equipe-infos">
                  <h5>Loic Perraut</h5>
                  <p>Expérience etc etc</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="team-member">
              <div class="carte-equipe">
                <div class="carte-equipe-photo">
                  <%= image_tag 'photo2.jpg' %>
                </div>
                <div class="carte-equipe-infos">
                  <h5>Céline Mével</h5>
                  <p>Expérience etc etc</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="team-member">
              <div class="carte-equipe">
                <div class="carte-equipe-photo">
                  <%= image_tag 'photo3.jpg' %>
                </div>
                <div class="carte-equipe-infos">
                  <h5>Jean-Charles Pirioux</h5>
                  <p>Expérience etc etc</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- 2ème section - Les notaires : paragraphe de description -->
  </div>
</div>
<!-- 2ème section - Les notaires : background de couleur -->


<!-- 3ème section - Le reste de l'équipe -->
<div class="page-section">
  <!-- 3ème section - Le reste de l'équipe : paragraphe d'introduction -->
  <div class="office-heading">
    <div class="section-heading-content office-section-heading">
      <span class="section-subtitle">Toute l'équipe</span>
      <span class="line-title section-line-title"></span>
      <h2>Une équipe dédiée</h2>
      <div class="section-description">
        <p>Vint-cinq collaborateurs sont à votre écoute pour vous aider etc etc</p>
      </div>
    </div>
  </div>
  <!-- 3ème section - Le reste de l'équipe : paragraphe d'introduction -->

  <!-- 3ème section - Le reste de l'équipe : paragraphe de description -->
  <div class="equipe-section-cartes">
    <div class="row">
      <div class="col s12 m3">
        <div class="carte-departement">
          <%= image_tag 'icone-promotion.png' %>
          <span class="line-title departement-line"></span>
          <h3>Promotion immobilière</h3>
          <p>Vanessa Pette</p>
          <p>Ronan Trassin</p>
          <p>Justine Poulain</p>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="carte-departement">
          <%= image_tag 'icone-famille.png' %>
          <span class="line-title departement-line"></span>
          <h3>Droit de la famille</h3>
          <p>Magali Poirier</p>
          <p>Karine Martin</p>
          <p>Stéphanie Piégué</p>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="carte-departement">
          <%= image_tag 'icone-affaires.png' %>
          <span class="line-title departement-line"></span>
          <h3>Droit des affaires</h3>
          <p>Stéphane Gautier</p>
          <p>Antoine de Lafforest</p>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="carte-departement">
          <%= image_tag 'icone-immobilier.png' %>
          <span class="line-title departement-line"></span>
          <h3>Droit immobilier</h3>
          <p>Stéphane Gautier</p>
          <p>Antoine de Lafforest</p>
          <p>Edith Savenay</p>
          <p>Sylvie Hamon</p>
          <p>Amélie Robert</p>
          <p>Pauline Bodolec</p>
          <p>Laëtitia Le Gall</p>
          <p>Gaëtan Fouché</p>
          <p>Brigitte Saint-Hilaire</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m3">
        <div class="carte-departement">
          <%= image_tag 'icone-compta.png' %>
          <span class="line-title departement-line"></span>
          <h3>Comptabilité - Formalités</h3>
          <p>Adélaïde Robillard</p>
          <p>Françoise Gouriou</p>
          <p>Valérie Petithomme</p>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="carte-departement">
          <%= image_tag 'icone-negociation.png' %>
          <span class="line-title departement-line"></span>
          <h3>Négociation immobilière</h3>
          <p>Charles Deplagne</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 3ème section - Le reste de l'équipe : paragraphe de description -->
  <div class="value-button">
    <%= link_to "Contacter l'office", contact_path, class: 'btn btn-primary' %>
  </div>
</div>
<!-- 3ème section - Le reste de l'équipe -->

<!-- Bouton Contact -->
<%= render 'shared/contact-link' %>
<!-- Bouton Contact -->

<!-- Ligne de démarcation avec le footer // vieille version -->
<!-- <div class="footer-whitespace">
  <span class="footer-line"></span>
</div> -->

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      console.log('toto');
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="office"]').addClass('active');
      var contactLinkPosition = $('#contact-link').offset().top;
      $(window).scroll(function(){
        $("#contact-link").css("top", Math.max(80, contactLinkPosition - $(this).scrollTop()));
      });
    });
  </script>
<% end %>
