<!-- Bannière -->
<div class="page-banner" id="sitemap-banner">
  <div class="page-banner-header left">
    <span class="page-banner-subtitle">Plan du site</span>
  </div>
</div>
<!-- Bannière -->

<!-- Subnavigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Plan du site</span>
    </div>
  </div>
</div>
<!-- Subnavigation -->

<!-- Plan -->
<div class="page-section">
  <div class="sitemap-category">
    <h4><%= link_to "Accueil", root_path %></h4>
    <span class="line-title"></span>
  </div>
  <div class="sitemap-category">
    <h4><%= link_to "L'office", office_path %></h4>
    <span class="line-title"></span>
  </div>
  <div class="sitemap-category">
    <h4>Expertises</h4>
    <span class="line-title"></span>
    <ul>
      <li><h5><%= link_to "Droit de la famille", famille_path %></h5></li>
        <ul>
          <li><%= link_to "Union - Vie à deux", union_path %></li>
          <li><%= link_to "Divorce", divorce_path %></li>
          <li><%= link_to "Adoption", adoption_path %></li>
          <li><%= link_to "Succession", succession_path %></li>
          <li><%= link_to "Donation", donation_path %></li>
          <li><%= link_to "Testament", testament_path %></li>
        </ul>
      <li><h5><%= link_to "Droit immobilier", immobilier_path %></h5></li>
        <ul>
          <li><%= link_to "Achat immobilier", acheter_path %></li>
          <li><%= link_to "Vente immobilière", vendre_path %></li>
        </ul>
      <li><h5><%= link_to "Droit des affaires", affaires_path %></h5></li>
        <ul>
          <!-- <li><%#= link_to "Création de société", societe_creation_path %></li>
          <li><%#= link_to "Transmission de société", societe_transmission_path %></li>
          <li><%#= link_to "Secrétariat de société", societe_secretariat_path %></li>
          <li><%#= link_to "Bail commercial", bail_commercial_path %></li>
          <li><%#= link_to "Fonds de commerce", fonds_commerce_path %></li>
          <li><%#= link_to "Location gérance", location_gerance_path %></li> -->
          <li>Création de société</li>
          <li>Transmission de société</li>
          <li>Secrétariat de société</li>
          <li>Bail commercial</li>
          <li>Fonds de commerce</li>
          <li>Location gérance</li>
        </ul>
      <li><h5><%= link_to "Promotion immobilière", promotion_path %></h5></li>
    </ul>
  </div>
  <div class="sitemap-category">
    <h4><%= link_to "Biens à vendre", negociation_path %></h4>
    <span class="line-title"></span>
    <ul>
      <li><%= link_to "Annonces immobilières", annonces_path %></li>
      <li><%= link_to "Vendre un bien", vente_path %></li>
    </ul>
  </div>
  <div class="sitemap-category">
    <h4><%= link_to "Foire aux questions", faq_path %></h4>
    <span class="line-title"></span>
  </div>
  <div class="sitemap-category">
    <h4><%= link_to "Contact", contact_path %></h4>
    <span class="line-title"></span>
  </div>
</div>
