<% content_for :meta_title, "Promotion immobilière - Notaires Rennes | Perraut Pirioux Mével" %>
<% content_for :meta_description, "La promotion immobilière constitue pour notre Office Notarial un secteur d’activité important dans lequel notre savoir-faire est reconnu : profitez-en !" %>

<div class="page-landing-picture" id="promotion-landing-picture">
  <div class="page-landing-picture-header right">
    <span class="page-landing-picture-subtitle">Expertise</span>
    <h1>Promotion immobilière</h1>
  </div>
</div>

<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Expertises</span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
       <span class="sub-nav-item">Promotion immobilière</span>
    </div>
  </div>
</div>

<%= render 'shared/show-expertise-intro', expertise: @expertise %>

<%#= render 'shared/questions-collapsible', expertise: @expertise %>

<div class="page-section">
  <div class="page-expertise-section" id="outils">
    <h2 class="section-white-header">COMBIEN CA COUTE ?</h2>
    <h4><a href="https://www.immobilier.notaires.fr/fr/frais-de-notaire" target="_blank"><i class="fa fa-calculator" aria-hidden="true"></i> Calculez vos frais</a></h4>
  </div>
</div>

<div class="grey-bg">
  <div class="page-section">
    <div class="page-expertise-section" id="contact">
      <h2 class="section-white-header">Contact</h2>
      <p>Vous n'avez pas trouvé la réponse à votre question ? Nous serons ravis de vous y répondre de façon plus personnalisée. Contactez-nous par téléphone ou par mail.</p>
      <%= link_to 'Contactez-nous', contact_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<%= render 'shared/contact-link' %>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="expertises"').addClass('active');
      var contactLinkPosition = $('#contact-link').offset().top;
      $(window).scroll(function(){
        $("#contact-link").css("top", Math.max(80, contactLinkPosition - $(this).scrollTop()));
      });
    });
  </script>
<% end %>
