<!-- Les meta tags -->
<% content_for :meta_title, "Succession - Notaires à Rennes | Perraut Pirioux Mével" %>
<% content_for :meta_description, "Nous vous accompagnons dans tous les domaines de la vie familiale, pour vous conseiller efficacement sur toutes les questions relatives à la succession." %>
<!-- Les meta tags -->

<!-- Bannière -->
<div class="page-banner" id="succession-banner">
  <div class="page-banner-header right header-red">
    <span class="page-banner-subtitle">Expertise</span>
    <h1>La Succession</h1>
  </div>
</div>
<!-- Bannière -->

<!-- Navigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Expertises</span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item"><%= link_to 'Droit de la famille', famille_path %></span>
       <i class="fa fa-chevron-right" aria-hidden="true"></i>
       <span class="sub-nav-item">Succession</span>
    </div>
  </div>
</div>
<!-- Navigation -->

<%= render 'shared/show-expertise-intro', expertise: @expertise %>

<%= render 'shared/questions-collapsible', expertise: @expertise %>

<!-- Lexique -->
<%= render 'shared/lexique',expertise: @expertise %>

<!-- Fiches pratiques -->
<div class="page-section">
  <div class="page-expertise-section" id="fiches">
    <h2 class="section-white-header">FICHES PRATIQUES</h2>
    <h4>Un proche est décédé : quelles démarches accomplir ?</h4>
    <div class="fiches-pratiques-container">
      <div class="row">
        <%= render 'shared/download-document-card', document: "guide-pratique-succession.pdf", document_type: "Guide pratique", document_title: "Succession - Mode d'emploi" %>
        <%= render 'shared/download-document-card', document: "fiche-deces-formalites.pdf", document_type: "Fiche conseil", document_title: "Décès : premières formalités" %>
      </div>
    </div>
    <h4>Quels sont les droits du conjoint survivant ?</h4>
    <div class="fiches-pratiques-container">
      <div class="row">
        <%= render 'shared/download-document-card', document: "fiche-pension-de-reversion.pdf", document_type: "Fiche conseil", document_title: "Pension de reversion" %>
        <%= render 'shared/download-document-card', document: "fiche-droit-conjoint-survivant.pdf", document_type: "Fiche conseil", document_title: "Droits du conjoint survivant" %>
      </div>
    </div>
    <h4>Quels actes peuvent être établis dans le cadre du règlement d'une succession ?</h4>
    <div class="fiches-pratiques-container">
      <div class="row">
        <%= render 'shared/download-document-card', document: "fiche-acte-notoriete.pdf", document_type: "Fiche conseil", document_title: "Succession - L'acte de notoriété" %>
        <%= render 'shared/download-document-card', document: "fiche-inventaire-succession.pdf", document_type: "Fiche conseil", document_title: "L'inventaire de succession" %>
        <%= render 'shared/download-document-card', document: "fiche-declaration-succession.pdf", document_type: "Fiche conseil", document_title: "La déclaration de succession" %>
      </div>
    </div>
    <h4>Succession : accepter ou renoncer ?</h4>
    <div class="fiches-pratiques-container">
      <div class="row">
        <%= render 'shared/download-document-card', document: "fiche-option-successorale.pdf", document_type: "Fiche conseil", document_title: "L'option successorale" %>
        <%= render 'shared/download-document-card', document: "fiche-acceptation-succession.pdf", document_type: "Fiche conseil", document_title: "A concurrence de l'actif net" %>
        <%= render 'shared/download-document-card', document: "fiche-renoncer-succession.pdf", document_type: "Fiche conseil", document_title: "Renoncer à une succession" %>
        <%= render 'shared/download-document-card', document: "fiche-succession-changer-avis.pdf", document_type: "Fiche conseil", document_title: "Peut-on changer d'avis ?" %>
        <%= render 'shared/download-document-card', document: "fiche-eviter-blocage-succession.pdf", document_type: "Fiche conseil", document_title: "Eviter le blocage d'une succession" %>
      </div>
    </div>
  </div>
</div>
<div class="page-section">
  <div class="page-expertise-section" id="outils">
    <h2 class="section-white-header">COMBIEN CA COUTE ?</h2>
    <h4><a href=" https://monnotaire-masuccession.notaires.fr/heritage" target="_blank"><i class="fa fa-calculator" aria-hidden="true"></i> Estimez vos frais de succession</a></h4>
  </div>
</div>

<div class="grey-bg">
  <div class="page-section">
    <div class="page-expertise-section" id="contact">
      <h2 class="section-white-header">Contact</h2>
      <p>Vous n'avez pas trouvé la réponse à votre question ? Nous serons ravis de vous y répondre de façon plus personnalisée. Contactez-nous par téléphone ou par mail.</p>
      <%= link_to 'Contactez-nous', contact_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<!-- Bouton Contact -->
<%= render 'shared/contact-link' %>
<!-- Bouton Contact -->

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="expertises"]').addClass('active');
      var contactLinkPosition = $('#contact-link').offset().top;
      $(window).scroll(function(){
        $("#contact-link").css("top", Math.max(80, contactLinkPosition - $(this).scrollTop()));
      });
    });
  </script>
<% end %>
