<% content_for :meta_title, "Mariage, Pacs, Union | Notaires Perraut Pirioux Mével" %>
<% content_for :meta_description, "Mariage, pacs, union libre, il existe plusieurs façons de vivre à deux. Trois notaires et leurs collaborateurs vous accompagnent dans votre choix et tout au long de vos démarches." %>

<div class="page-landing-picture" id="union-landing-picture">
  <div class="page-landing-picture-header right header-red">
    <span class="page-landing-picture-subtitle">Expertise</span>
    <h1>Union - Vie à deux</h1>
  </div>
</div>

<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Expertises</span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item"><%= link_to 'Droit de la famille', famille_path %></span>
       <i class="fa fa-chevron-right" aria-hidden="true"></i>
       <span class="sub-nav-item">Union - Vie à deux</span>
    </div>
  </div>
</div>

<%= render 'shared/show-expertise-intro', expertise: @expertise %>

<%= render 'shared/questions-collapsible', expertise: @expertise %>

<%= render 'shared/lexique', expertise: @expertise %>

<div class="page-section">
  <div class="page-expertise-section" id="fiches">
    <h2 class="section-white-header">FICHES PRATIQUES</h2>
    <h4>Quel régime matrimonial choisir ?</h4>
    <div class="fiches-pratiques-container">
      <div class="row">
        <%= render 'shared/download-document-card', document: "fiche-regimes-matrimoniaux.pdf", document_type: "Fiche conseil", document_title: "Les régimes matrimoniaux" %>
        <%= render 'shared/download-document-card', document: "fiche-communaute-reduite.pdf", document_type: "Fiche conseil", document_title: "Communauté réduite aux acquêts" %>
        <%= render 'shared/download-document-card', document: "fiche-communaute-universelle.pdf", document_type: "Fiche conseil", document_title: "Communauté universelle" %>
        <%= render 'shared/download-document-card', document: "fiche-participation-acquets.pdf", document_type: "Fiche conseil", document_title: "Participation aux acquêts" %>
        <%= render 'shared/download-document-card', document: "fiche-separation-biens.pdf", document_type: "Fiche conseil", document_title: "Séparation des biens" %>
        <%= render 'shared/download-document-card', document: "fiche-clauses-contrat-mariage.pdf", document_type: "Fiche conseil", document_title: "Les clauses du contrat" %>
      </div>
    </div>
    <h4>Autres fiches pratiques</h4>
    <div class="fiches-pratiques-container">
      <div class="row">
        <%= render 'shared/download-document-card', document: "comparatif-mariage-pacs-concubinage.pdf", document_type: "Guide pratique", document_title: "Comparatif Mariage Pacs Concubinage" %>
        <%= render 'shared/download-document-card', document: "fiche-changement-regime-matrimonial.pdf", document_type: "Fiche conseil", document_title: "Le changement de régime matrimonial" %>
        <%= render 'shared/download-document-card', document: "fiche-se-remarier.pdf", document_type: "Fiche conseil", document_title: "Se remarier - Mode d'emploi" %>
      </div>
    </div>
  </div>
</div>
<div class="page-section">
  <div class="page-expertise-section" id="outils">
    <h2 class="section-white-header">COMBIEN CA COUTE ?</h2>
    <p>A titre indicatif, compte tenu du tarif en vigueur (Arrêté du 26 février 2016 fixant les tarifs réglementés des notaires - lien <a href="https://www.legifrance.gouv.fr/eli/arrete/2016/2/26/EINC1605792A/jo">ici</a>  ), voici les tarifs pour les actes suivants :</p>
    <p>Contrat de mariage simple : 360,42 €</p>
    <p>Convention de PACS : 369,62 €</p>
    <p>Modificatif de convention de PACS : 369,62 €</p>
    <p>Dissolution de convention de PACS : 369,62 €</p>
    <p>Changement de régime matrimonial : 1.000 € (en ce non compris les taxes et débours)</p>
    <p class="italic">Pour tout acte complexe, nous consulter pour l’établissement d’un devis sur mesure.</p>
  </div>
</div>

<div class="grey-bg">
  <div class="page-section">
    <div class="page-expertise-section" id="contact">
      <h2 class="section-white-header">Contact</h2>
      <p>Vous n'avez pas trouvé la réponse à votre question ? Nous serons ravis de vous y répondre de façon plus personnalisée. Contactez-nous par téléphone ou par mail.</p>
      <%= link_to 'Contactez-nous', contact_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<%= render 'shared/contact-link' %>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="expertises"]').addClass('active');
      var contactLinkPosition = $('#contact-link').offset().top;
      $(window).scroll(function(){
        $("#contact-link").css("top", Math.max(80, contactLinkPosition - $(this).scrollTop()));
      });
    });
  </script>
<% end %>
