<!-- Les meta tags -->
<% content_for :meta_title, "Union - Vie à deux - Notaires à Rennes | Perraut Pirioux Mével" %>
<% content_for :meta_description, "Nous vous accompagnons dans tous les domaines de la vie familiale, pour vous conseiller efficacement sur toutes les questions relatives à votre union." %>
<!-- Les meta tags -->

<!-- Bannière -->
<div class="page-banner" id="union-banner">
  <div class="page-banner-header right header-red">
    <span class="page-banner-subtitle">Expertise</span>
    <h1>Union - Vie à deux</h1>
  </div>
</div>
<!-- Bannière -->

<!-- Navigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Expertises</span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item"><%= link_to 'Droit de la famille', famille_path %></span>
       <i class="fa fa-chevron-right" aria-hidden="true"></i>
       <span class="sub-nav-item">Union - Vie à deux</span>
    </div>
  </div>
</div>
<!-- Navigation -->

<%= render 'shared/show-expertise-intro', expertise: @expertise %>

<%= render 'shared/questions-collapsible', expertise: @expertise %>

<!-- Lexique -->
<%= render 'shared/lexique', expertise: @expertise %>

<!-- Fiches pratiques -->
<div class="page-section">
  <div class="page-expertise-section" id="fiches">
    <h2 class="section-white-header">FICHES PRATIQUES</h2>
    <h4>Quel régime matrimonial choisir ?</h4>
    <div class="fiches-pratiques-container">
      <div class="row">
        <%= render 'shared/download-document-card', document: "fiche-achat-bien-loue.pdf", document_type: "Fiche conseil", document_title: "Les régimes matrimoniaux" %>
        <%= render 'shared/download-document-card', document: "fiche-communaute-reduite.pdf", document_type: "Fiche conseil", document_title: "Communauté réduite aux acquêts" %>
        <%= render 'shared/download-document-card', document: "fiche-communaute-universelle.pdf", document_type: "Fiche conseil", document_title: "Communauté universelle" %>
        <%= render 'shared/download-document-card', document: "fiche-participation-acquets.pdf", document_type: "Fiche conseil", document_title: "Participation aux acquêts" %>
        <%= render 'shared/download-document-card', document: "fiche-separation-biens.pdf", document_type: "Fiche conseil", document_title: "Séparation des biens" %>
        <%= render 'shared/download-document-card', document: "fiche-clauses-contrat-mariage.pdf", document_type: "Fiche conseil", document_title: "Les clauses du contrat" %>
      </div>
    </div>
    <h4>Autres fiches pratiques</h4>
    <div class="fiches-pratiques-container">
      <div class="row">
        <%= render 'shared/download-document-card', document: "comparatif-mariage-pacs-concubinage.pdf", document_type: "Guide pratique", document_title: "Comparatif Mariage Pacs Concubinage" %>
        <%= render 'shared/download-document-card', document: "fiche-achat-bien-loue.pdf", document_type: "Fiche conseil", document_title: "Le changement de régime matrimonial" %>
        <%= render 'shared/download-document-card', document: "fiche-achat-bien-loue.pdf", document_type: "Fiche conseil", document_title: "Se remarier - Mode d'emploi" %>
      </div>
    </div>
  </div>
</div>
<div class="page-section">
  <div class="page-expertise-section" id="outils">
    <h2 class="section-white-header">COMBIEN CA COUTE ?</h2>
    <h4><a href="https://www.immobilier.notaires.fr/fr/frais-de-notaire" target="_blank"><i class="fa fa-calculator" aria-hidden="true"></i> Calculez vos frais</a></h4>
  </div>
</div>

<div class="grey-bg">
  <div class="page-section">
    <div class="page-expertise-section" id="contact">
      <h2 class="section-white-header">Contact</h2>
      <p>Vous n'avez pas trouvé la réponse à votre question ? Nous serons ravis de vous y répondre de façon plus personnalisée. Contactez-nous par téléphone ou par mail.</p>
      <%= link_to 'Contactez-nous', contact_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<!-- Bouton Contact -->
<%= render 'shared/contact-link' %>
<!-- Bouton Contact -->

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="expertises"]').addClass('active');
      var contactLinkPosition = $('#contact-link').offset().top;
      $(window).scroll(function(){
        $("#contact-link").css("top", Math.max(80, contactLinkPosition - $(this).scrollTop()));
      });
    });
  </script>
<% end %>
