<!-- Les meta tags -->
<% content_for :meta_title, "Vente immobilière - Notaires à Rennes | Perraut Pirioux Mével" %>
<% content_for :meta_description, "Garanties dues par le vendeur, libération des lieux, apurement du passif et des charges de copropriété, conséquences fiscales, disponibilité des fonds, nous vous accompagnons dans votre projet afin de sécuriser la transaction et de trouver la solution adaptée à votre situation personne !" %>
<!-- Les meta tags -->

<!-- Bannière -->
<div class="page-banner" id="pacs-banner">
  <div class="page-banner-header right header-red">
    <span class="page-banner-subtitle">Expertise</span>
    <h1>Vente immobilière</h1>
  </div>
</div>
<!-- Bannière -->

<!-- Navigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Expertises</span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item"><%= link_to 'Droit immobilier', immobilier_path %></span>
       <i class="fa fa-chevron-right" aria-hidden="true"></i>
       <span class="sub-nav-item">Vendre</span>
    </div>
  </div>
</div>
<!-- Navigation -->

<%= render 'shared/show-expertise-intro', expertise: @expertise %>

<%= render 'shared/questions-collapsible', expertise: @expertise %>

<div class="page-section">
  <div class="page-expertise-section" id="fiches">
    <h2 class="section-white-header">FICHES PRATIQUES</h2>
    <div class="fiches-pratiques-container">
      <div class="row">
        <%= render 'shared/download-document-card', document: "fiche-promesse-vente.pdf", document_type: "Fiche conseil", document_title: "La promesse de vente", document_intro: 'Dès que vous avez trouvé un acquéreur, il convient de régulariser un avant-contrat qui sera soumis à diverses conditions suspensives Une fois que les conditions suspensives sont réalisées, la vente peut être signée.' %>
        <%= render 'shared/download-document-card', document: "fiche-diagnostic-immobilier.pdf", document_type: "Fiche conseil", document_title: "Les diagnostics immobiliers", document_intro: 'Préalablement à la mise en vente du bien, il conviendra de faire établir divers diagnostics immobiliers. Le nombre des diagnostics techniques obligatoires est variable selon la nature, la date de construction et la zone d’implantation de votre bien immobilier.' %>
        <%= render 'shared/download-document-card', document: "fiche-plus-value-immobiliere.pdf", document_type: "Fiche conseil", document_title: "Les plus-values de vente immobilière", document_intro: nil %>
        <%= render 'shared/download-document-card', document: "guide-vente-immobiliere.pdf", document_type: "Guide pratique", document_title: "Vente immobilière - Mode d'emploi", document_intro: nil %>
      </div>
    </div>
  </div>
</div>
<div class="page-section">
  <div class="page-expertise-section" id="outils">
    <h2 class="section-white-header">COMBIEN CA COUTE ?</h2>
    <p>Outil de calcul : La plus value immobilière</p>
    <h4><a href="http://plus-values.notaires.fr/simulateur/index.xhtml" target="_blank"><i class="fa fa-calculator" aria-hidden="true"></i> Accéder à l'outil de calcul</a></h4>
  </div>
</div>

<div class="grey-bg">
  <div class="page-section">
    <div class="page-expertise-section" id="contact">
      <h2 class="section-white-header">Contact</h2>
      <p>Vous n'avez pas trouvé la réponse à votre question ? Nous serons ravis de vous y répondre de façon plus personnalisée. Contactez-nous par téléphone ou par mail.</p>
      <%= link_to 'Contactez-nous', contact_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<!-- Bouton Contact -->
<%= render 'shared/contact-link' %>
<!-- Bouton Contact -->

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="expertises"]').addClass('active');
      var contactLinkPosition = $('#contact-link').offset().top;
      $(window).scroll(function(){
        $("#contact-link").css("top", Math.max(80, contactLinkPosition - $(this).scrollTop()));
      });
    });
  </script>
<% end %>
