<!-- Les meta tags -->
<% content_for :meta_title, "Vente immobilière à Rennes | Office Notarial Perraut Pirioux Mével" %>
<% content_for :meta_description, "L'office Perraut Pirioux Mével vous accompagne dans toutes vos démarches lors de votre vente immobilière." %>
<% content_for :meta_image, "https://unsplash.com/?photo=P3pI6xzovu0" %>
<!-- Les meta tags -->

<!-- Bannière -->
<div class="page-banner" id="vente-banner">
  <div class="page-banner-header header-red" id="vente-banner-header">
    <span class="page-banner-subtitle">Négociation immobilière</span>
    <h1>Vous vendez un bien ?</h1>
  </div>
</div>
<!-- Bannière -->

<!-- Sous-navigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item"><%= link_to 'Négociation immobilière', negociation_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Vendre</span>
    </div>
  </div>
</div>
<!-- Sous-navigation -->

<div class="page-section">
  <div class="row">
    <div class="col s12 m8 l6">
      <div class="section-heading-content">
        <span class="section-subtitle">Expertise</span>
        <span class="line-title section-line-title"></span>
        <h2>VENTE IMMOBILIERE</h2>
        <div class="section-description">
          <p>Notre office vous accompagne dans la recherche d'acquéreurs grâce à un négociateur, etc etc. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt officia pariatur sint, ex deserunt reprehenderit repellendus illum doloremque tenetur, omnis tempora nam nobis. Quos beatae repellendus earum est dignissimos ipsum?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <%= link_to 'En savoir plus', immobilier_path, class: 'btn btn-primary' %>
  </div>
</div>

<!-- SECTION CONTACT POUR DESKTOP -->
<div class="grey-bg homepage-contact-section" id="homepage-contact-section-desktop">
  <!-- 4ème SECTION - Partie droite : le formulaire -->
  <div id="homepage-contact-container">
  <!-- 4ème SECTION - Partie droite : le formulaire // Heading -->
    <div class="section-heading-content">
      <span class="section-subtitle">Contactez-nous</span>
      <span class="line-title section-line-title"></span>
      <h2>Prendre rendez-vous</h2>
      <div class="section-description">
        <p>Créé en 2000, l'office notarial Perraut Pirioux Mével est animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
      </div>
    </div>
    <!-- 4ème SECTION - Partie gauche : le formulaire // Heading -->

    <!-- 4ème SECTION - Partie gauche // Le formulaire -->
    <div id="homepage-contact-form">
      <%= render 'shared/contact-form', contact: @contact %>
    </div>
  </div>

  <!-- 4ème SECTION - Partie gauche : la photo -->
  <div class="homepage-contact-picture">
  </div>
</div>

<!-- SECTION CONTACT POUR TABLETTE -->
<div class="homepage-contact-section-tablet" id="homepage-contact-section-tablet">
  <!-- Introduction -->
  <div id="homepage-contact-infos-tablet">
    <div class="row">
      <div class="col s12 m8 l6">
        <div class="section-heading-content">
          <span class="section-subtitle">Get in touch</span>
          <span class="line-title section-line-title"></span>
          <h2>Contact us</h2>
        </div>
      </div>
    </div>
    <!-- Formulaire de contact -->
    <div class="row">
      <div class="col s12 m8 l8">
        <div id="page-contact-form">
          <%= render 'shared/contact-form', contact: @contact %>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="page-contact-infos">
          <span class="contact-form-header">Trust is a business theme perfectly suited legal advisers and offices, lawyers, attorneys, and other legal and law related services.</span>
          <div class="contact-form-infos">
            <div class="row">
              <div class="col s12 m6">
                <span class="contact-form-label">Téléphone</span>
                <p><i class="fa fa-phone" aria-hidden="true"></i>02 99 67 39 39</p>
                <p><i class="fa fa-fax" aria-hidden="true"></i>02 99 67 34 54</p>
              </div>
              <div class="col s12 m6">
                <span class="contact-form-label">Email</span>
                <p><i class="fa fa-envelope" aria-hidden="true"></i>perraut-pirioux-mevel@notaires.fr</p>
              </div>
            </div>
            <div>
              <span class="contact-form-label">Adresse</span>
              <p>7 rue de la Visitation<br>CS 60808<br>35108 RENNES CEDEX 3</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SECTION CONTACT POUR MOBILE -->
<div id="homepage-contact-section-mobile">
  <div class="grey-bg" id="homepage-contact-container">
    <div class="section-heading-content">
      <span class="section-subtitle">Contactez-nous</span>
      <span class="line-title section-line-title"></span>
      <h2>Prendre rendez-vous</h2>
      <div class="section-description">
        <p>Créé en 2000, l'office notarial Perraut Pirioux Mével est animé par le souci d'offrir à ses clients un service juridique de qualité. L'équipe est composée de trois notaires et d'une vingtaine de collaborateurs : juristes, assistants, notaires stagiaires et collaborateurs dédiés à des fonctions spécifiques.</p>
      </div>
    </div>
    <div id="homepage-contact-form">
      <%= render 'shared/contact-form', contact: @contact %>
    </div>
  </div>
  <div id="homepage-contact-photo-mobile">
    <div id="homepage-contact-infos-mobile">
      <div class="section-contact-header">
        <span class="section-contact-subtitle">Office notarial à Rennes</span>
        <h2>Perraut - Pirioux - Mével</h2>
      </div>
      <div class="contact-form-infos">
        <div class="row">
          <span class="contact-form-label">Adresse</span>
          <p>7 rue de la Visitation<br>CS 60808<br>35108 RENNES CEDEX 3</p>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <span class="contact-form-label">Téléphone</span>
            <p><i class="fa fa-phone" aria-hidden="true"></i>02 99 67 39 39</p>
            <p><i class="fa fa-fax" aria-hidden="true"></i>02 99 67 34 54</p>
          </div>
          <div class="col s12 m6">
            <span class="contact-form-label">Email</span>
            <p><i class="fa fa-envelope" aria-hidden="true"></i>perraut-pirioux-mevel@notaires.fr</p>
          </div>
        </div>
        <div class="row hide-on-small-only">
          <span class="contact-form-label">Standard</span><p>Ouvert de 9h à 12h et de 14h à 17h45 (17h le vendredi).<br>Etude fermée le samedi (sauf sur rendez-vous).</p>
        </div>
        <span class="contact-form-label hide-on-small-only">Accès</span>
        <div class="row hide-on-small-only">
          <div class="col s12 m6">
            <p><i class="fa fa-subway" aria-hidden="true"></i>Station Sainte Anne</p>
          </div>
          <div class="col s12 m6">
            <p><i class="fa fa-car" aria-hidden="true"></i>Parking Hoche</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).on('ready', function() {
      console.log('toto');
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="immobilier"]').addClass('active');
      $('select').material_select();
    });
  </script>
<% end %>
