<!-- Les meta tags -->
<% content_for :meta_title, "Annonce" %>
<% content_for :meta_description, @annonce.description %>
<% content_for :meta_image, @annonce.photos[0].path %>
<!-- Les meta tags -->

<!-- Bannière -->
<div class="page-banner" id="admin-show-banner">
  <div class="page-banner-header right header-red">
    <span class="page-banner-subtitle">Vente immobilière</span>
    <h1>Annonce Ref.<%= @annonce.reference %></h1>
  </div>
</div>
<!-- Bannière -->

<!-- Subnavigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Plateforme Admin', tests_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Annonce <%= @annonce.reference %></span>
    </div>
  </div>
</div>
<!-- Subnavigation -->

<!-- Introduction -->
<div class="page-section">
  <div class="row">
    <div class="col s6">
      <div class="section-heading-content">
        <span class="line-title section-line-title"></span>
        <span class="section-subtitle">Ref. <%= @annonce.reference %></span>
        <h2><%= @annonce.genre_transaction %> <%= @annonce.genre %> - <%= @annonce.ville %> (<%= @annonce.code_postal %>)</h2>
        <p>En ligne depuis <%= (Date.today.to_datetime - @annonce.created_at.to_datetime).to_i %> jours</p>
      </div>
    </div>
  </div>
</div>
<!-- Introduction -->

<!-- Contenu -->
<div class="page-section" id="annonce-show-section">
  <div class="row">
    <!-- Slideshow -->
    <div class="col s12 m6">
      <div class="slider">
        <ul class="slides">
          <% @annonce.photos.each do |photo| %>
            <li>
              <%= cl_image_tag photo.path %>
              <div class="caption center-align">
                <h5 class="light grey-text text-lighten-3">Test</h5>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="annonce-show-share">
        <h2 class="annonce-infos-header">Partager</h2>
        <span class="btn-social" data-href="<%= request.original_url %>" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fetude-notariale.herokuapp.com%2Fannonces%2Fvente-maison-170m2-7pieces-rennes-35&amp;src=sdkpreparse"><i class="fa fa-facebook btn-social" aria-hidden="true"></i></a></span>
        <a href="<%= @twitter_text %>" target="_blank"><span class="btn-social"><i class="fa fa-twitter btn-social" aria-hidden="true"></i></span></a>
      </div>
    </div>
    <!-- Slideshow -->
    <!-- Description -->
    <div class="col s12 m6">
      <div class="annonce-infos-container">
        <div class="annonce-infos-price">
          <span class="annonce-price-label">Prix total</span>
          <h3 class="annonce-price"><%= @annonce.prix_total.to_i %> €</h3>
        </div>
        <!-- 1ère partie : nb pièces et nb chambres -->
        <div class="row">
          <div class="col s6">
            <span class="annonce-infos-label">Nombre de pièces</span>
            <h3 class="annonce-infos-content"><%= @annonce.nb_pieces %></h3>
          </div>
          <div class="col s6">
            <span class="annonce-infos-label">Nombre de chambres</span>
            <h3 class="annonce-infos-content"><%= @annonce.nb_chambres %></h3>
          </div>
        </div>
        <!-- 2ème partie : surfaces -->
        <div class="row">
          <div class="col s6">
            <span class="annonce-infos-label">Surface habitable</span>
            <h3 class="annonce-infos-content"><%= @annonce.surface_habitable %> m2</h3>
          </div>
          <div class="col s6">
            <span class="annonce-infos-label">Surface du terrain</span>
            <h3 class="annonce-infos-content"><%= @annonce.surface_terrain %> m2</h3>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="annonce-descriptif">
              <h2 class="annonce-infos-header">Description</h2>
              <p><%= @annonce.description %></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <span><%= link_to "Modifier l'annonce", edit_annonce_path(@annonce), class: 'btn btn-primary' %></span>
          </div>
          <div class="col s6">
            <a href="#modal-destroy" class="btn btn-primary">Supprimer l'annonce</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Description -->
  </div>
</div>

<!-- Modal validation du destroy -->
<div id="modal-destroy" class="modal">
  <div class="modal-content">
    <p>Etes-vous sûr de vouloir supprimer cette annonce ?</p>
    <%= link_to 'Oui', annonce_path(@annonce),  method: :delete, class: "btn btn-primary" %>
    <a href="#!" class="modal-action modal-close btn btn-primary">Non</a>
  </div>
</div>
<!-- Modal validation du destroy -->


<%= content_for(:after_js) do %>
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=365983583801132";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <script>
    $(document).ready(function(){
      $('.slider').slider();
    });
  </script>
<% end %>
