<!-- Les meta tags -->
<% content_for :meta_title, "Annonces immobilières à Rennes | Office Notarial Perraut Pirioux Mevel" %>
<% content_for :meta_description, "L'office Perraut Pirioux Mevel vous accompagne lors de votre achat immobilier. Découvrez les annonces immobilières de l'office, à Rennes et autour." %>
<% content_for :meta_image, "https://unsplash.com/?photo=P3pI6xzovu0" %>
<!-- Les meta tags -->

<!-- Bannière -->
<div class="page-banner" id="annonces-banner">
  <div class="page-banner-header right header-red">
    <span class="page-banner-subtitle">Négociation immobilière</span>
    <h1>Nos annonces immobilières</h1>
  </div>
</div>
<!-- Bannière -->

<!-- Sous-navigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item"><%= link_to 'Négociation immobilière', negociation_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Acheter</span>
    </div>
  </div>
</div>
<!-- Sous-navigation -->

<!-- Les annonces -->
<div class="page-section">
  <div class="row annonces-container">
    <% @annonces.each do |annonce| %>
      <div class="col s12 m4">
        <div class="annonces-carte-annonce">
          <%= cl_image_tag annonce.photos[0].path, width: 730, height: 500, crop: :fill %>
          <h3><%= annonce.genre %> - <%= pluralize annonce.nb_pieces, 'pièce' %></h3>
          <span><%= annonce.prix_total.to_i %>€</span>
          <p><%= annonce.ville %> <%= annonce.code_postal %></p>
          <%= link_to '', annonce_path(annonce), class: 'carte-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- Les annonces -->

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.navbar-link').removeClass('active');
      $('.navbar-link[data-link="immobilier"]').addClass('active');
    });
  </script>
<% end %>

