<!-- Bannière -->
<div class="page-banner" id="annonce-banner">
  <div class="page-banner-header right header-red">
    <span class="page-banner-subtitle">Vente immobilière</span>
    <h1>Annonces immobilières</h1>
  </div>
</div>
<!-- Bannière -->

<!-- Subnavigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item"><%= link_to 'Annonces immobilières', annonces_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Annonce <%= @annonce.reference %></span>
    </div>
  </div>
</div>
<!-- Subnavigation -->

<!-- Introduction -->
<div class="page-section">
  <div class="row">
    <div class="col s6">
      <div class="section-heading-content">
        <span class="line-title section-line-title"></span>
        <span class="section-subtitle">Ref. <%= @annonce.reference %></span>
        <h2><%= @annonce.genre %></h2>
      </div>
    </div>
  </div>
</div>
<!-- Introduction -->

<!-- Slideshow -->
<div class="page-section">
  <div class="slider">
    <ul class="slides">
      <% @annonce.photos.each do |photo| %>
        <li>
          <%= cl_image_tag photo.path %>
          <div class="caption center-align">
            <h5 class="light grey-text text-lighten-3">Test</h5>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<!-- Slideshow -->



<div class="annonces-show-container">
  <div class="annonces-show-photo">
    <%= cl_image_tag @annonce.photos[0].path, crop: :fill %>
    <span class="annonce-price"><%= @annonce.prix_total.to_i %> €</span>
    <h3>Description</h3>
    <p><%= @annonce.description %></p>
    <div class="reseaux-sociaux-container">
      <h3>Partager</h3>
      <span id="shareBtn" class="btn-social"><i class="fa fa-facebook btn-social" aria-hidden="true"></i></span>
      <a href="<%= @twitter_text %>" target="_blank"><span class="btn-social"><i class="fa fa-twitter btn-social" aria-hidden="true"></i></span></a>
    </div>
    <h3>Vous souhaitez en savoir plus ?</h3>
    <%= link_to 'Contactez-nous', contact_path, class: 'btn btn-primary' %>
  </div>


  <div class="annonces-show-infos">
      <div class="annonces-show-descriptif">
        <table class="annonces-show-tableau">
          <tr>
            <td>
              <p>Description</p>
              <p style="font-size: 4rem;"><i class="fa fa-home" aria-hidden="true"></i></p>
            </td>
            <td>
              <p>Surface habitable : <%= @annonce.surface_habitable %></p>
              <p>Surface terrain : <%= @annonce.surface_terrain %></p>
            </td>
            <td>
              <p>Pièces : <%= @annonce.nb_pieces %></p>
              <p>Chambres : <%= @annonce.nb_chambres %></p>
            </td>
          </tr>
          <tr>
            <td><p>Prix</p></td>
            <td>
              <p><%= @annonce.prix_total.to_i %>€</p>
              <p><%= @annonce.prix_vente.to_i %>€</p>
            </td>
            <td></td>
          </tr>
        </table>
      </div>
  </div>
</div>
<div class="page-section">
  <%= link_to 'Retour aux annonces', annonces_path, class: 'btn btn-primary' %>
</div>

<%= content_for(:after_js) do %>
  <script>
    document.getElementById('shareBtn').onclick = function() {
      var pictureUrl = '<%= @annonce.photos[0].path %>';
      console.log(pictureUrl);
      FB.ui({
        method: 'share',
        display: 'popup',
        // href: 'https://developers.facebook.com/docs/',
        // href: 'http://localhost:3000/annonces/<%= @annonce.id %>',
        // href: 'http://localhost:3000/annonces/6',
        title: 'Testing',  // The same than name in feed method
        picture: pictureUrl,
        description: 'Test description',
      }, function(response){});
    }
  </script>
  <script>
    $(document).ready(function(){
      $('.slider').slider();
    });
  </script>
<% end %>
