<!-- Bannière -->
<div class="page-banner" id="annonce-banner">
  <div class="page-banner-header right header-red">
    <span class="page-banner-subtitle">Vente immobilière</span>
    <h1>Annonces immobilières</h1>
  </div>
</div>
<!-- Bannière -->

<!-- Subnavigation -->
<div class="sub-nav">
  <div class="sub-nav-container">
    <div class="sub-nav-menu">
      <span class="sub-nav-item"><%= link_to 'Accueil', root_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item"><%= link_to 'Annonces immobilières', annonces_path %></span>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sub-nav-item">Annonce <%= @annonce.reference %></span>
    </div>
  </div>
</div>
<!-- Subnavigation -->

<!-- Introduction -->
<div class="page-section">
  <div class="row">
    <div class="col s6">
      <div class="section-heading-content">
        <span class="line-title section-line-title"></span>
        <span class="section-subtitle">Ref. <%= @annonce.reference %></span>
        <h2><%= @annonce.genre_transaction %> <%= @annonce.genre %> - <%= @annonce.ville %> (<%= @annonce.code_postal %>)</h2>
      </div>
    </div>
  </div>
</div>
<!-- Introduction -->

<!-- Contenu -->
<div class="page-section" id="annonce-show-section">
  <div class="row">
    <!-- Slideshow -->
    <div class="col s12 m6">
      <div class="slider">
        <ul class="slides">
          <% @annonce.photos.each do |photo| %>
            <li>
              <%= cl_image_tag photo.path %>
              <div class="caption center-align">
                <h5 class="light grey-text text-lighten-3">Test</h5>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="annonce-show-share">
        <h2 class="annonce-infos-header">Partager</h2>
        <span id="shareBtn" class="btn-social"><i class="fa fa-facebook btn-social" aria-hidden="true"></i></span>
        <a href="<%= @twitter_text %>" target="_blank"><span class="btn-social"><i class="fa fa-twitter btn-social" aria-hidden="true"></i></span></a>
      </div>
    </div>
    <!-- Slideshow -->
    <!-- Description -->
    <div class="col s12 m6">
      <div class="annonce-infos-container">
        <div class="annonce-infos-price">
          <span class="annonce-price-label">Prix total</span>
          <h3 class="annonce-price"><%= @annonce.prix_total.to_i %> €</h3>
        </div>
        <!-- 1ère partie : nb pièces et nb chambres -->
        <div class="row">
          <div class="col s6">
            <span class="annonce-infos-label">Nombre de pièces</span>
            <h3 class="annonce-infos-content"><%= @annonce.nb_pieces %></h3>
          </div>
          <div class="col s6">
            <span class="annonce-infos-label">Nombre de chambres</span>
            <h3 class="annonce-infos-content"><%= @annonce.nb_chambres %></h3>
          </div>
        </div>
        <!-- 2ème partie : surfaces -->
        <div class="row">
          <div class="col s6">
            <span class="annonce-infos-label">Surface habitable</span>
            <h3 class="annonce-infos-content"><%= @annonce.surface_habitable %> m2</h3>
          </div>
          <div class="col s6">
            <span class="annonce-infos-label">Surface du terrain</span>
            <h3 class="annonce-infos-content"><%= @annonce.surface_terrain %> m2</h3>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="annonce-descriptif">
              <h2 class="annonce-infos-header">Description</h2>
              <p><%= @annonce.description %></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <span><%= link_to "Contactez-nous", contact_path, class: 'btn btn-primary' %></span>
          </div>
          <div class="col s6">
            <span><%= link_to "Retour aux annonces", annonces_path, class: 'btn btn-primary' %></span>
          </div>
        </div>
      </div>
    </div>
    <!-- Description -->
  </div>
</div>



<%= content_for(:after_js) do %>
  <script>
    document.getElementById('shareBtn').onclick = function() {
      var pictureUrl = '<%= @annonce.photos[0].path %>';
      console.log(pictureUrl);
      FB.ui({
        method: 'share',
        display: 'popup',
        // href: 'https://developers.facebook.com/docs/',
        // href: 'http://localhost:3000/annonces/<%= @annonce.id %>',
        // href: 'http://localhost:3000/annonces/6',
        title: 'Testing',  // The same than name in feed method
        picture: pictureUrl,
        description: 'Test description',
      }, function(response){});
    }
  </script>
  <script>
    $(document).ready(function(){
      $('.slider').slider();
    });
  </script>
<% end %>
