<!-- Bannière -->
<div id="annonces-banner">
  <div class="annonces-banner-header">
    <h4>L'office</h4>
  </div>
</div>
<!-- Bannière -->

<div class="page-wrapper">
  <div class="annonces-show-container">
    <div class="annonces-show-photo">
      <%= cl_image_tag @annonce.photo, crop: :fill %>
      <div class="reseaux-sociaux">
        <div id="shareBtn" class="btn btn-primary">Partager sur Facebook</div>
        <a class="twitter-share-button btn btn-primary"
          href="<%= @twitter_text %>" target="_blank">
        Partager sur Twitter</a>
        <input id="post-shortlink" value="<%= @url %>">
        <button class="btn btn-primary" id="copy-button" data-clipboard-target="#post-shortlink" onclick="Materialize.toast('URL copiée', 2000)">Copier l'url</button>
      </div>
    </div>
    <div class="annonces-show-infos">
      <h2><%= @annonce.genre %></h2>
      <h4><%= @annonce.ville %> <%= @annonce.code_postal %> </h4>
      <p>Ref. <%= @annonce.reference %></p>
      <h5><%= @annonce.prix_total.to_i %> €</h5>
        <div class="annonces-show-descriptif">
          <table class="annonces-show-tableau">
            <tr>
              <td>
                <p>Description</p>
                <p style="font-size: 4rem;"><i class="fa fa-home" aria-hidden="true"></i></p>
              </td>
              <td>
                <p>Surface habitable : <%= @annonce.surface_habitable %></p>
                <p>Surface terrain : <%= @annonce.surface_terrain %></p>
              </td>
              <td>
                <p>Pièces : <%= @annonce.nb_pieces %></p>
                <p>Chambres : <%= @annonce.nb_chambres %></p>
              </td>
            </tr>
            <tr>
              <td><p>Prix</p></td>
              <td>
                <p><%= @annonce.prix_total.to_i %>€</p>
                <p><%= @annonce.prix_vente.to_i %>€</p>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p>Equipements</p>
                <p style="font-size: 4rem;"><i class="fa fa-users" aria-hidden="true"></i></p>
              </td>
              <td>
                <% t = @annonce.terrasse ? "Oui" : "Non" %>
                <p>Terrasse : <%= t %></p>
                <% t = @annonce.piscine ? "Oui" : "Non" %>
                <p>Piscine : <%= t %></p>
              </td>
              <td>
                <% t = @annonce.cave ? "Oui" : "Non" %>
                <p>Cave : <%= t %></p>
                <% t = @annonce.stationnement ? "Oui" : "Non" %>
                <p>Parking : <%= t %></p>
              </td>
            </tr>
          </table>
        </div>
    </div>
  </div>
</div>

<script>
document.getElementById('shareBtn').onclick = function() {
  var pictureUrl = '<%= @annonce.photo %>';
  console.log(pictureUrl);
  FB.ui({
    method: 'share',
    display: 'popup',
    // href: 'https://developers.facebook.com/docs/',
    // href: 'http://localhost:3000/annonces/<%= @annonce.id %>',
    // href: 'http://localhost:3000/annonces/6',
    title: 'Testing',  // The same than name in feed method
    picture: pictureUrl,
    description: 'Test description',
  }, function(response){});
}
</script>
